<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            {% include "admin/_partials/head.html.twig" %}
        {% endblock %}

        {% if block('stylesheet') is not empty %}
            {% block stylesheet %}{% endblock %}
        {% endif %}
    </head>

    <body>
        <div class="container">
        {% if login is defined %}
            <section id="container-login">
                {{ block('main') }}
            </section>

        {% else %}

           <section id="main">

               {% block header %}
                   {% include "admin/blocs/header.html.twig" %}
               {% endblock %}

               {% block nav %}
                   {% include "admin/blocs/navbar.html.twig" %}
               {% endblock %}

                <!-- Title page -->
                {% if block('titlePage') is defined %}
                    <h4> {{ block('titlePage') }}</h4>
                {% endif %}

                <!-- main content area start -->
                {{ block('main') }}

           </section>

            <!-- footer area start-->
            {% include "admin/blocs/footer.html.twig" %}

        {%  endif %}

        </div>

        <!-- Common Scripts -->
        {% include "admin/_partials/scripts.html.twig" %}

        <!-- Custom Scripts -->
        {% block js %}{% endblock %}

    </body>
</html>