<header class="col-12 site-header">
    <blockquote class="quote-card">
        <p>Et pendant ce temps là, dans la galaxie du développement informatique...</p>
        <cite>(et au-delà)</cite>
    </blockquote>
</header>