<!-- Page Footer-->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="logo">
                    <h6 class="text-white">aBBlog - Since {{ now|date('Y') }}</h6>
                </div>
                <div class="contact-details-footer">
                    <p>Paris, France</p>
                    {% if privacyPostActive %}
                        <p><a href="{{ constant('SERVER_BASE') }}blog/article-{{ constant('POST_PRIVACY') }}">Politique de confidentialité</a></p>
                    {% endif %}
                    {% if legalPostActive %}
                    <p><a href="{{ constant('SERVER_BASE') }}blog/article-{{ constant('POST_LEGALS') }}">Mentions légales</a></p>
                    {% endif %}
                    <p>Email: <a href="mailto:contact@blog.oc-armellebraud.fr">contact@blog.oc-armellebraud.fr</a></p>
                    <ul class="social-menu">
                        <li class="list-inline-item"><a href="http://www.linkedin.com/in/armelle-braud" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href="http://www.viadeo.com/fr/profile/armelle.braud" target="_blank"><i class="fab fa-viadeo"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.twitter.com/@ArmelleBraud" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://gitlab.com/armelle.braud" target="_blank"><i class="fab fa-gitlab"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/Memelo95" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                <div class="menus d-flex">
                    <ul class="list-unstyled">
                        <li> <a href="{{ constant('SERVER_BASE') }}#header">Accueil</a></li>
                        <li> <a href="{{ constant('SERVER_BASE') }}#about">A propos</a></li>
                        <li> <a href="{{ constant('SERVER_BASE') }}blog">Blog</a></li>
                        <li> <a href="{{ constant('SERVER_BASE') }}resume">CV</a></li>
                        <li> <a href="{{ constant('SERVER_BASE') }}#contact">Contact</a></li>
                        <li><a href="{{ constant('SERVER_BASE') }}admin" target="_blank">Interface Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 offset-md-1 d-none d-lg-block d-xl-block">
                <div class="latest-posts">
                    {% for post in latestPosts %}
                    <a href="{{ constant('SERVER_BASE') }}blog/article-{{ post.postid }}">
                        <div class="post d-flex align-items-center">
                            <div class="image">
                                <img src="{{ constant('UPLOADS_PATH') }}images/blog/v_{{ post.imageFile }}" alt="Illustration article {{ post.postid }}" class="img-fluid">
                            </div>
                            <div class="title">
                                <strong>{{ post.title|capitalize  }}</strong>
                                <span class="date last-meta" title="Publication"><i class="far fa-clock"></i>
                                    {{ post.datePublish | localizeddate('none', 'none', null, null, 'dd MMMM Y') }}
                                </span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</footer>