<nav id="main-nav" class="navbar navbar-expand-lg" role="navigation">
    <div class="container">

        <!-- Navbar Brand -->
        <div class="navbar-header d-flex align-items-center justify-content-between">
            <a href="{{ constant('SERVER_BASE') }}" class="logo navbar-">
                <img src="{{ constant('ASSETS_PATH') }}img/logo_100.png" alt="logo">
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarcollapse" class="navbar-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <!-- Navbar Menu -->
        <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li><a href="{{ constant('SERVER_BASE') }}#header" class="link-scroll nav-link">Accueil</a></li>
                <li><a href="{{ constant('SERVER_BASE') }}#about" class="link-scroll nav-link">A propos</a></li>
                <li><a href="{{ constant('SERVER_BASE') }}blog" class="link-scroll nav-link">Blog</a></li>
                <li><a href="{{ constant('SERVER_BASE') }}resume" class="link-scroll nav-link">CV</a></li>
                <li><a href="{{ constant('SERVER_BASE') }}#contact" class="link-scroll nav-link">Contact</a></li>
                <li class="separator">|</li>
                {% if role is not null and currentUserId is not null%}
                    <li class="logout">
                        <a href="{{ constant('SERVER_BASE') }}admin/logout?org={% if 'admin' in sUrl %}admin{% else %}front{% endif %}" class="nav-link">
                            Déconnexion
                        </a>
                    </li>
                {% else %}
                    <li class="logout">
                        <a href="" class="nav-link" data-toggle='modal' data-target='#fr-connexion'>
                            Connexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>