<div class="modal fade" id="upgrade-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Votre navigateur est obsolète</h5>
            </div>
            <div class="modal-body">
                <p>Afin d'avoir la meilleure expérience de navigation possible sur ce site, il est recommandé de passer à une version plus moderne. Pour télécharger un nouveau navigateur Web, cliquez sur Mettre à jour.</p>
            </div>
            <div class="modal-footer">
                <a href="http://browsehappy.com/" target="_blank" class="btn btn-primary">Mettre à jour</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->