{% extends "front/base-front.html.twig" %}

{% block title %}aBBlog - Blog{% endblock %}

{% block nav %}
    {% include "front/blocs/general-navbar.html.twig" %}
{% endblock %}

{% block stylesheet %}
    <link href="{{ constant('ASSETS_PATH') }}css/front/blog-style.css" rel="stylesheet">
    <link href="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/css/fileinput.css" media="all" rel="stylesheet" type="text/css" /> <!-- FILE UPLOAD -->
    <link href="{{ constant('ASSETS_PATH') }}lib/highlight-9.16/styles/default.css" media="all" rel="stylesheet" type="text/css" /> <!-- HIGHLIGHT CODE -->
{% endblock %}

{% block main %}
    <div class="container container-blog">
        <div class="row">
            <!-- Latest Posts -->
            <main class="post blog-post col-lg-8">
                <div class="container">
                    <div class="post-single">
                        <div class="post-details">
                            <h1>{{ post.title }}</h1>
                            <div class="post-thumbnail text-center">
                                <img src="{{ constant('UPLOADS_PATH') }}images/blog/l_{{ post.imageFile }}" alt="illustration article {{ post.postid }}" class="img-fluid">
                            </div>

                                <div class="post-meta d-flex justify-content-center">
                                    <div class="category">
                                        {% set privatePost = false %}
                                        {% for category in post.categories %}
                                            {% if category.isPrivate and not privatePost %}
                                                {% set privatePost = true %}
                                            {% endif %}

                                            {% if category.isActive and not privatePost %}
                                                <a href="{{ constant('SERVER_BASE') }}blog/category-{{ category.categoryId }}" class="category">{{ category.name|capitalize }}</a>
                                            {% endif %}

                                        {% endfor %}
                                    </div>
                                </div>
                            {% if not privatePost %}
                                <div class="post-footer d-flex align-items-center flex-column flex-sm-row justify-content-center">
                                    <div class="author d-flex align-items-center flex-wrap">
                                        <div class="avatar">
                                            <img src="{{ constant('UPLOADS_PATH') }}images/admin/profile/v_{{ post.user.image }}" alt="Photo de profile" class="img-fluid">
                                        </div>
                                        <div class="title"><span> par {{ post.user.fullname }}</span></div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="publish" title="Publication"><i class="far fa-clock"></i> {{ post.datePublish | localizeddate('short', 'none', locale) }}</div>
                                        <div class="date" title="Mise à jour"><i class="fas fa-pencil-alt"></i> {{ date_ago }}</div>
                                        {% if post.count > 0 %}
                                        {% set count = (post.count > 9999) ? (post.count / 1000)|round ~ " M" : post.count %}
                                        <div class="views" title="{{ post.count|number_format(0, '.', ' ') }} vues"><i class="far fa-eye"></i> {{ count }}</div>
                                        {% endif %}
                                        <div class="comments meta-last">
                                            <a href="#list-comments" title="Commentaires" class="continue link-scroll">
                                                <i class="far fa-comment-alt"></i>{{ post.comments|length }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="post-body">
                                <p class="lead">{{ post.chapo }}</p>
                                {{ post.content|raw }}
                            </div>
                            <div class="post-tags">
                                {% for tag in post.tags %}
                                    <a href="{{ constant('SERVER_BASE') }}blog/tag-{{ tag.tagId }}" class="tag">#{{ tag.name|capitalize }}</a>
                                {% endfor %}
                            </div>

                            {% if not privatePost %}

                                <!-- Previous / Next posts -->
                                {% if previousPost.postId is null %}
                                    {% set containerClass = 'justify-content-end' %}
                                {% elseif nextPost.postId is null %}
                                    {% set containerClass = 'justify-content-start' %}
                                {% else %}
                                    {% set containerClass = 'justify-content-between' %}
                                {% endif %}

                                <a id="comments"></a>

                                <div class="posts-nav d-flex {{ containerClass }} align-items-stretch flex-column flex-md-row">
                                    {% if previousPost.postId is not null %}
                                        <a href="{{ constant('SERVER_BASE') }}blog/article-{{ previousPost.postId }}" class="prev-post text-left d-flex align-items-center">
                                            <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                            <div class="text">
                                                <strong class="text-primary">Article précedent </strong>
                                                <h6>{{ previousPost.title }}</h6>
                                            </div>
                                        </a>
                                    {% endif %}

                                    {% if nextPost.postId is not null %}
                                        <a href="{{ constant('SERVER_BASE') }}blog/article-{{ nextPost.postId }}" class="next-post text-right d-flex align-items-center justify-content-end">
                                            <div class="text">
                                                <strong class="text-primary">Article suivant </strong>
                                                <h6>{{ nextPost.title }}</h6>
                                            </div>
                                            <div class="icon next"><i class="fa fa-angle-right"></i></div>
                                        </a>
                                    {% endif %}
                                </div>

                                <!-- Form Comment -->
                                {% if role is not null and currentUserId is not null%}
                                    {% include "front/blocs/blog/blog-form-comments.html.twig" %}
                                {% else %}
                                    <div class="row mt-5">
                                        <div class="col-12 text-center">
                                            <h5>Vous devez être connecté pour publier un commentaire.</h5>
                                        </div>
                                            <div class="col-lg-6 col-md-6 col-12 mt-1">
                                                <button type="button" class="btn btn-theme btn-block" data-toggle='modal' data-target='#fr-connexion'>Connexion</button>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12 mt-1">
                                                <button type="button" class="btn btn-theme btn-block" data-toggle='modal' data-target='#newAccountModal' data-dismiss="modal">Créer un compte</button>
                                            </div>
                                    </div>
                                {% endif %}

                                <a id="list-comments"></a>

                                <!-- Comments -->
                                {% if post.comments is not empty %}
                                    {% include "front/blocs/blog/blog-list-comments.html.twig" %}
                                {% endif %}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </main>
            {% include "front/blocs/blog/blog-aside.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ constant('ASSETS_PATH') }}js/front/blog-main.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/highlight-9.16/highlight.pack.js"></script>

    <script >
        $(document).ready(function() {
            $('#hideComModal').on('show.bs.modal', function (e) {
                $('.modal-body').find('#idComment').val($(e.relatedTarget).data('id'));

            });
            $(".modal-footer .confirm").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                changeStatusComment($("#hide-comments"));
                return false;
            });

            $("#commenting-submit").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                updateComment($("#commenting-form"),'fr');
                return false;
            });
        });
    </script>
{% endblock %}