{% extends "front/base-front.html.twig" %}

{% block title %}aBBlog - Blog{% endblock %}

{% block nav %}
    {% include "front/blocs/general-navbar.html.twig" %}
{% endblock %}

{% block stylesheet %}
    <link href="{{ constant('ASSETS_PATH') }}css/front/blog-style.css" rel="stylesheet">
    <link href="{{ constant('ASSETS_PATH') }}lib/highlight-9.16/styles/default.css" media="all" rel="stylesheet" type="text/css" /> <!-- HIGHLIGHT CODE -->
{% endblock %}

{% block titlePage %}
    {% include "front/blocs/blockquote.html.twig" %}
{% endblock %}

{% block main %}
    <div class="container container-blog">
        <div class="row">
            {{ block('titlePage') }}

            <!-- Latest Posts -->
            <main class="posts-listing col-lg-8">
                <div class="container">
                    <header class="post-title">
                        <h1>{{ currentCat.name }}</h1>
                    </header>
                    <!-- Post By categories -->
                    {% if posts|length > 0 %}
                        {% for post in posts %}
                            {% if loop.index is odd  %}
                                <div class="row">
                            {% endif %}
                                <div class="post col-xl-6">
                                    <div class="post-thumbnail">
                                        <a href="{{ constant('SERVER_BASE') }}blog/article-{{ post.postid }}">
                                            <img src="{{ constant('UPLOADS_PATH') }}images/blog/l_{{ post.imageFile }}" alt="Illustration article {{ post.postid }}" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <div class="post-meta d-flex justify-content-between">
                                            <div class="date meta-last" title="Publication"><i class="far fa-clock"></i>
                                                {{ post.datePublish | localizeddate('none', 'none', null, null, 'dd MMMM') }} |
                                                {{ post.datePublish | localizeddate('none', 'none', null, null, 'Y') }}
                                            </div>

                                        </div>
                                        <a href="{{ constant('SERVER_BASE') }}blog/article-{{ post.postid }}">
                                            <h3 class="h4">{{ post.title }}</h3>
                                        </a>
                                        <p class="text-muted">{{ post.chapo|truncate(120,true) }}</p>
                                        <footer class="post-footer d-flex align-items-center">
                                            <div class="author d-flex align-items-center flex-wrap">
                                                <div class="avatar">
                                                    <img src="{{ constant('UPLOADS_PATH') }}images/admin/profile/v_{{ post.user.image }}" alt="Image de profil" class="img-fluid">
                                                </div>
                                                <div class="title">
                                                    <span>{{ post.user.fullname }}</span>
                                                </div>
                                            </div>
                                            {% if post.count > 0 %}
                                                {% set count = (post.count > 9999) ? (post.count / 1000)|round ~ " M" : post.count %}
                                                <div class="views" title="{{ post.count|number_format(0, '.', ' ') }} vues"><i class="far fa-eye"></i> {{ count }}</div>
                                            {% endif %}
                                            <div class="comments meta-last"><i class="far fa-comment-alt"></i>{{ post.comments|length }}</div>
                                        </footer>
                                    </div>
                                </div>
                            {% if loop.index is even  or loop.last%}
                                </div>
                            {% endif %}

                        {% endfor %}

                        <!-- Pagination -->
                        {% include 'front/_partials/pagination.html.twig' with {
                            currentPage: currentPage,
                            url: constant('SERVER_BASE') ~ 'blog/category-' ~ currentCat.categoryid,
                            nbPages: nbPages
                        } only %}
                        <!-- End pagination -->

                    {% else %}
                        <div class="col-lg-12 text-center">
                            <h3>Cette rubrique ne contient aucun article.<br />
                                Tentez votre chance dans quelques jours <br />
                                <i class="far fa-smile-wink"></i>
                            </h3>
                        </div>
                    {% endif %}

                </div>
            </main>
            {% include "front/blocs/blog/blog-aside.html.twig" %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ constant('ASSETS_PATH') }}lib/highlight-9.16/highlight.pack.js"></script>
{% endblock %}