/*
* ==========================================================
*     FOOTER
* ==========================================================
*/
footer.main-footer {
    background: #0e0e0e;
    padding: 30px 0 15px;
    color: #fff;
    font-family: var(--main-font-family);
    line-height: 1.5;
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
}

footer.main-footer .contact-details-footer p {
    font-weight: 300;
    color: #fff;
    margin: 0 0 5px 0;
    font-size: 0.95em;
}

footer.main-footer .contact-details-footer a {
    text-decoration: underline;
    margin-bottom: 0;
}

footer.main-footer a {
    color: inherit;
    font-weight: 300;
    margin-bottom: 7px;
    display:inline-block;
}

footer.main-footer a:hover, footer.main-footer a:focus {
    color: #999;
}

footer.main-footer ul {
    margin-right: 30px;
}

footer.main-footer .list-unstyled a {
    font-size: 0.95em;
    display: inline-block;
}
footer.main-footer .latest-posts {
    display: flex;
    flex-direction: column;
}
footer.main-footer .latest-posts .image {
    max-width: 50px;
    padding: 4px;
    border: 2px solid #333;
    margin-right: 10px;
}

footer.main-footer .latest-posts a {
    font-size: 0.95em;
    text-decoration: none;
}

footer.main-footer .latest-posts a:hover {
    color: #fff;
}

footer.main-footer .latest-posts strong {
    display: block;
    margin-bottom: 0;
}

footer.main-footer .latest-posts .date {
    font-size: 0.85em;
    color: #aaa;
}

footer.main-footer .copyrights {
    background: #090909;
    margin-top: 100px;
    padding: 20px 0;
    font-size: 0.9em;
}

footer.main-footer .copyrights * {
    margin-bottom: 0;
}

footer.main-footer .social-menu {
    margin-top: 20px;
    padding-left: 0;
}

footer.main-footer .social-menu li {
    padding: 0 5px;
}

footer.main-footer .date::after,
footer.main-footer .title::after {
    display: none !important;
}

footer.main-footer h6,
footer.main-footer .h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
}

footer.main-footer .title,
footer.main-footer .post .date,
footer.main-footer .post,
footer.main-footer .post .comments,
footer.main-footer .post .views {
    font-weight: 400;
    color: #999;
    text-transform: none;
}
/* Footer Media Query ------------------------------------- */
@media (max-width: 767px) {
    footer.main-footer .container {
        padding-right: 10vw;
        padding-left: 10vw;
    }
    footer.main-footer div[class*="col-"] {
        margin-bottom: 40px;
    }
    footer.main-footer div[class*="col-"]:last-of-type {
        margin-bottom: 0;
    }
    footer.main-footer .latest-posts > a {
        width: 100%;
        margin-bottom: 20px;
    }
    footer.main-footer .copyrights div[class*="col-"] {
        margin-bottom: 20px;
        text-align: center !important;
    }
    footer.main-footer .copyrights div[class*="col-"]:last-of-type {
        margin-bottom: 0;
    }
}