/*
* ==========================================================
*     STYLE OF HOME BLOG
* ==========================================================
*/

/*
* ==========================================================
*     TYPOGRAPHY
* ==========================================================
*/
body {
  background: #ffffff;
  color: #898989;
  font-family: var(--home-font-family);
  font-weight: 300;
  margin: 0 auto;
  padding: 0 !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}
h5 {
  font-weight: 700;
}
a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: var(--main-color);
  text-decoration: underline;
}


p {
  margin: 2rem 0;
  padding: 0;
  font-size: 1rem;
  color: #999999;
  line-height: 1.5rem;
}
section {
  padding: 70px 0;
  overflow-x: hidden;
}
section header {
  margin-bottom: 50px;
  text-align: center;
}

.section-title {
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contactForm .form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
}

.contactForm .form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 60px;
  padding-bottom: 60px;
}
.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: var(--main-color);
}

.mb-30 {
  margin-bottom: 30px;
}

.active {
  color: #afafaf;
}
.contactForm .btn {
  background: #333;
  border: medium none;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}
.btn:hover {
  background: #333;
  color: #fff;
}
/*
* ==========================================================
*     NAVBAR AUTO HIDE
* ==========================================================
*/
#main-nav {
  position:fixed;
  width:100%;
  display:none;
}

/*
* ==========================================================
*     HERO SECTION
* ==========================================================
*/
section.hero {
  background: url("../../img/front/home-bg.jpg");
  background-size: cover;
  background-position: center center;
  padding: 0;
  color: #fff;
  height: 100vh;
  width: 100%;
}

section.hero .hero-header {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section.hero.home .hero-header .full-identity .pitch {
  height:8vh;
}
section.hero h1 {
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

section.hero p{
  font-size: 13px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
section.hero .list-social li {
  float: left;
  margin-right: 20px;
}
section.hero .list-social li i {
  color: #fff;
  font-size: 1rem;
}

/*
* ==========================================================
*     ABOUT SECTION
* ==========================================================
*/
#about {
  width: 100%;
  height: auto;
  padding: 100px 0 0 0;
}

#about .div-img-bg {
  background-color: #efefef;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-top: -1.5rem;
  height: auto;
  object-fit: cover;
  border: 20px solid var(--main-color);
}
#about .about-descr .p-heading {
  font-family: var(--elegant-font-family);
  font-size: 28px;
  text-align: left;
  line-height: 2rem;
  margin:-1.5rem 0 0 0;
}

#about .about-descr .separator {
  margin: 2rem 0 ;
  text-align: left;
}

#about .resume-link i {
  font-size: 2rem;
  color: var(--main-color);
  line-height: 2.5rem;
  padding-right: 0.7rem;
}

#about .resume-link.separator span {
  line-height: 3rem;
  vertical-align: top;
}



/*
* ==========================================================
*     SERVICES SECTION
* ==========================================================
*/
#services {
  position: relative;
  padding: 60px 0;
}

#services .services-block span {
  margin: 10px 0;
  position: relative;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

#services .services-block p {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}

#services .services-block i {
  font-size: 44px;
  color: var(--main-color);
  line-height: 44px;
}


#services .services-carousel  .owl-stage-outer {
  overflow: hidden;
}

#services .services-carousel .owl-dots {
  margin-top: 15px;
  text-align: center;
}

#services .services-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border: 0;
  padding: 0 !important;
  background-color: #ddd;
  cursor: pointer;
}

#services .services-carousel .owl-dot.active {
  background-color: var(--main-color);
}

#services .owl-item {
  float: left;
}

#services .owl-nav {
  display: none;
}

/*
* ==========================================================
*     LATEST SECTION
* ==========================================================
*/
section.latest-posts {
  background: #f7f7f7;
}

section.latest-posts .post-details{
  font-family: var(--main-font-family);
}
section.latest-posts .post-meta {
  margin: 10px 0;
  font-size: 0.8rem;
}
section.latest-posts .post p:not(.lead) {
  color: #777;
  font-size: 1em;
  line-height: 1.5;
  margin:15px 0;
}

section.latest-posts .post a {
  text-decoration: none;
}

section.latest-posts .post a:hover,
section.latest-posts .post a:focus {
  text-decoration: none;
}

section.latest-posts .post h3 {
  line-height: 1.1em;
  color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 1rem 0 0 0;
  font-weight: 700;
}

section.latest-posts .post h3:hover {
  color: #555;
}

section.latest-posts .post .date {
  letter-spacing: 0.05rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #aaa;
}
section.latest-posts .post .category a {
  color: var(--main-color);
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

section.latest-posts .btn-send {
  margin-top:10px;
}

/* Latest Posts Section Media Query ------------------------------------- */
@media (max-width: 767px) {
  section.latest-posts .post {
    margin-bottom: 40px;
  }
  section.latest-posts .post:last-of-type {
    margin-bottom: 0;
  }
}

/*
* ==========================================================
*     CONTACT
* ==========================================================
*/
#contact {
  height: auto;
  width: 100%;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

#contact input, #contact textarea {
  width: 100%;
}


#contact  #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact  #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
}

#contact .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

/*
* ==========================================================
*     CONNECT MODAL
* ==========================================================
*/
label.form-check-label, a.form-check-label {
  font-size: 0.8em;
  margin-right: 5px;
  padding-left: 0;
  color: #9055A2;
}

/*
* ==========================================================
*     UPGRADE MODAL
* ==========================================================
*/
#upgrade-dialog {
  font-family:var(--main-font-family);
  color: #212529;
}
#upgrade-dialog p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
}


/*
* ==========================================================
*     RESPONSIVE
* ==========================================================
*/


@media (max-width: 1023px) {
  section.hero .hero-header h1{
    font-size: 1.60em;
  }
  section.hero.home .hero-header .full-identity {
    margin: 0 5vw;
  }
  #introduction .about-descr,
  #introduction .link{
    margin-left:1rem;
    margin-bottom:1rem;
  }
}

@media (max-width: 767px) {

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  .about-descr {
    margin:1rem 0;
  }
  .about-descr p {
    margin:0;
  }

  /*Profile*/
  #about {
    padding-top:40px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0;
    margin-left: calc(0% - 0px);
    height:auto;
    border: 10px solid var(--main-color);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  #introduction .resume-link,
  #introduction .resume-link i {
    margin:0.8rem;
    font-size: 0.8rem;
    padding:0;
  }
  /* Service */
  #services {
    padding: 0 0 15px 0;
  }
  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}



/* Width between 480px to 0 */
@media (max-width: 480px) {

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .about-descr  {
    margin-top:1rem;
  }
  #about .div-img-bg {
    padding: 0;
    background: initial;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  /*Service */
  #services {
    padding-top: 1.5rem;
  }
  #services .services-block i {
    font-size: 2rem;
  }
  /*Profile*/
  #introduction .resume-link,
  #introduction .resume-link i {
    margin:0;
    font-size: 0.8rem;
    padding:0;
  }
  #introduction .resume-link i {
    color: var(--main-color);
    line-height: 2.5rem;
    padding-right: 0.7rem;
    font-size: 2rem;
  }
    #introduction .about-descr, #introduction .link {
      margin:1rem 0;
    }
  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
}

/* Width between 360px to 0*/
@media (max-width: 360px) {

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  /*profile*/
  #introduction .resume-link i {
    font-size: 1.2rem;
    padding-right: 0.2rem;
    line-height: 2.7rem;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
}