/*
* ==========================================================
*     NAVBAR (TOP MENU)
* ==========================================================
*/

/*#main-nav {
    position: fixed;
    width: 100%;
    display: none;
}*/
#main-nav {
    background: #fff;
    /*padding: 20px;*/
    z-index: 9998;
    border-bottom: 1px solid #ddd;
    font-family: var(--main-font-family);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}
#main-nav .separator {
    line-height: 2em;
    vertical-align: middle;
}
#main-nav .search-btn {
    color: #333;
    font-size: 0.9em;
}

#main-nav .navbar-toggler {
    margin-top: 5px;
}

#main-nav .navbar-toggler span {
    width: 20px;
    height: 2px;
    background: #222;
    margin-bottom: 4px;
    display: block;
}

#main-nav .navbar-toggler span:last-of-type {
    margin-bottom: 0;
}

#main-nav .navbar-toggler.active span {
    margin: 0;
}

#main-nav .navbar-toggler.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(3px);
    transform: rotate(45deg) translate(3px);
}

#main-nav .navbar-toggler.active span:nth-of-type(2) {
    opacity: 0;
}

#main-nav .navbar-toggler.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(3px);
    transform: rotate(-45deg) translate(3px);
}

#main-nav .langs a {
    font-size: 0.8em;
    color: #aaa;
    font-weight: 700;
}

#main-nav .langs a.active {
    color: #333;
}

#main-nav .langs span {
    width: 15px;
    height: 1px;
    background: #ddd;
    margin: 0 5px;
}

#main-nav.search-area {
    display: none;
    z-index: 9999;
}

#main-nav .search-area-inner {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.99);
    padding: 20px !important;
}

#main-nav .search-area-inner .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

#main-nav .search-area-inner .row {
    width: 100%;
}

#main-nav .search-area-inner .form-group {
    position: relative;
}

#main-nav .search-area-inner .submit {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 15px;
}

#main-nav .search-area-inner input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: none;
    padding: 10px 0;
    font-size: 1.6em;
    font-weight: 300;
    font-family: var(--main-font-family);
}

#main-nav .search-area-inner input::-moz-placeholder,
#main-nav .search-area-inner input::-webkit-input-placeholder,
#main-nav .search-area-inner input:-ms-input-placeholder{
    font-family: var(--main-font-family);
    color: #555;
    font-weight: 300;
    font-size: 1.1em;
}

#main-nav .navbar-nav a.nav-link {
    color: #333;
    margin: 0 5px;
    font-weight: 400;
    font-size: 0.95rem;
}

#main-nav .navbar-nav a.nav-link:hover {
    color: var(--main-color);
}

#main-nav .navbar-nav a.nav-link.active {
    color: var(--main-color);
    font-weight: bold;
}
#main-nav .navbar-nav .logout a.nav-link{
    color: var(--main-color);
    font-weight: 700;
    font-size: 0.95rem;
    margin: 0 5px;
}
#main-nav .navbar-nav .logout a.nav-link:hover {
    color: #333;
}

#main-nav .navbar-header .logo img {
    width:100px;
}


nav ul li a {
    padding: 2px 0 0 0;
    position: relative;
    display: block;
    font-size: 12px;
    color: #999999;
    font-weight: 500;
    line-height: 1rem;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}


/* Navbar Media Query ------------------------------------- */
@media (max-width: 1199px) {
    nav.navbar .navbar-header {
        width: 100%;
        margin-bottom: 5px;
    }
    nav.navbar::after {
        width: 100%;
    }
    nav.navbar.active::after {
        width: calc(100% - 170px);
    }
    nav.navbar .search-area {
        font-size: 0.75em;
    }
    nav.navbar .navbar-brand img {
        display:none;
    }
    nav.navbar .navbar-brand span {
        display:block;
        color: var(--main-color);
        font-family: var(--logo-font-family);
        font-size: 1.75rem;
    }
    .navbar .separator {
        display: none;
    }
}
@media (min-width: 768px) and (orientation: landscape){
    #main-nav .navbar-header {
        flex:1;
    }
    #main-nav #navbarcollapse
    {
        flex:2;
    }
}
@media (max-width: 767px) {
    nav {
        padding: 20px 15px;
    }
    #main-nav .navbar-header .logo img {
        width: 40px;
    }
    #main-nav .navbar .separator {
        display: none;
    }
    #navbarcollapse > ul > li.logout:before {
        contain: none;
    }

    #navbarcollapse > ul > li.logout {
        padding-left: 0;
        margin-left: 0;
    }
}
@media (max-width: 480px) {
    nav {
        padding: 20px 15px;
    }

}
@media (max-width: 360px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
}
