html,
body {
    background: #F3EFE0;
    font-family:var(--main-font-family);
    font-weight: 300;
}

h1 {
    font-weight: 800;
    color: var(--main-color);
}
h2 {
    font-weight: 700;
    color: var(--main-color);
}
h3 {
    font-weight: 300;
    color: var(--main-color);
}
h4 {
    font-weight: 600;
    font-family: var(--logo-font-family);
}
h4.specification {
    color: var(--secondary);
}
h4 > a > i {
    font-size: 1rem;
}
h5 {
    font-weight: 600;
}
a, a:hover, a:focus, a:visited {
    color: var(--button-border-color);
    text-decoration: none;
}
#experiences p {
    margin-bottom: 0.5rem;
}
p.lead {
    text-align: center;
    color: #727878;
}
/*p.blockquote a {
    color: #FFFFFF;
    text-decoration: underline;
}
p.blockquote a:hover {
    text-decoration: none;
}*/
blockquote.blockquote {
    text-align: center;
}
ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
#main-nav {
    position: fixed;
    width: 100%;
    display: none;
}
.project-referal {
    margin-top: 40px;
}

.project-referal p {
    font-style: italic;
    color: #999999;
}

.icon {
    display: inline-block;
    background: url(../../img/sm_icon_sprite.png) no-repeat;
    height: 32px;
    width: 32px;
}

.icon.icon-twitter {
    background-position: 0px 0px;
}

.icon.icon-linkedin {
    background-position: 0px -32px;
}

.icon.icon-skype {
    background-position: 0px -64px;
}

.icon.icon-email {
    background-position: 0px -96px;
}
/*
* ==========================================================
*     HERO SECTION
* ==========================================================
*/
section.hero {
    background: url(../../img/front/home_cv.jpg);
    background-size: cover;
    background-position: center center;
    padding: 0;
    color: #fff;
    height: 100%;
    width: 100%;
}
section.hero .hero-header {
    text-align: center;
}
section.hero .hero-header .full-identity {
    margin:0 auto;
}
section.hero .hero-header h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    color: #FFFFFF;
}

section.hero .hero-header .lead {
    font-size: 2rem;
    color: #FFFFFF;
}


/*********************************************************/
/* NAVBAR RESUME
*********************************************************/

.resume-navbar {
    border: 0px;
    background-color: #31302D;
    right: 5%;
    width: 110px;
    z-index: 999;
    padding: 0;
    position: fixed;
}

.resume-navbar .navbar-collapse {
    padding: 0px;
    max-height: none;
    border-color: #e7e7e7;
}

.resume-navbar .navbar-nav {
    float: none;
    margin: 0px;
    color: #FFFFFF;
    width:100%;
}


.resume-navbar .navbar-nav .nav-item {
    display: block;
    float: none;
    height: 80px;
    width: 100%;
}

.resume-navbar .navbar-nav .nav-item a {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #FFFFFF;
    height: 100%;
    padding-top: 30px;
    font-size: 0.8em;
}

.resume-navbar .navbar-nav .nav-item a:hover,
.resume-navbar .navbar-nav .nav-item.active a,
.resume-navbar  .nav-pills .nav-link.active{
    color: #FFF;
    background: var(--main-color);
    border-radius: 0;
}

.resume-navbar .navbar-nav>li a:hover,
.navbar .navbar-nav>li a:focus {
    color: #999999;
}

.resume-navbar .navbar-default .navbar-nav>.active>a{
    background: var(--main-color);
    color: #FFFFFF;
}

.resume-navbar-default .navbar-toggle:hover .icon-bar,
.resume-navbar-default .navbar-toggle:focus .icon-bar {
    background: #222222;
}

.resume-navbar .navbar-toggler{
    top: auto;
    bottom: 100%;
    position: relative;
    margin: 5px 0;
    background-color: transparent;
    background-image: none;
    border: 0;
}
.resume-navbar .navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
.resume-navbar .navbar-header {
    min-height: 50px;
}

.scrollspy-resume {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/*
* ==========================================================
*     CONTENT
* ==========================================================
*/
.background-white {
    background: #FFFFFF;
    width:100%;
}

.background-gray {
    background: #434242;
    width:100%;
}

.section-container {
    max-width: 1280px;
    padding: 100px 180px;
    margin-right: auto;
    margin-left: auto;
}
.section-container h1 {
    text-align: center;
    font-weight: 300;
    font-size: 3.5rem;
}
/*
PROFILE
 */
#profile .row>div {
    margin-bottom: 20px;
}

#profile .row .avatar img {
    width: 100%;
    max-width: 246px;
    height: auto;
    border-radius: 50%;
    border: 15px solid var(--main-color);
}
#profile a i.fab,
#profile a i.far {
    color: var(--main-color);
}
#profile a i.fab:hover,
#profile a i.far:hover{
    color: var(--button-border-color);
}
#profile .resume-link.separator,
#profile .resume-link.separator a{
    line-height: 3rem;
    vertical-align: top;
    font-family: var(--home-font-family);
    font-weight: 300;
    color: var(--main-color);
}
#profile .resume-link.separator i {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 2.5rem;
    padding-right: 0.7rem;
}
#profile .resume-link.separator span {
    vertical-align: top;
}
#profile .resume-link.separator a:hover {
    color: var(--button-border-color);
    text-decoration: none;
    font-size: 1rem;
}
/*
EXPERIENCES
 */

#experiences .experience {
    margin-bottom: 20px;
}

#experiences h3,
#abilities h3 {
    text-transform: capitalize;
}
#experiences .experience p > strong {
    display: block;
    padding-top: 8px;
    margin-bottom: 10px;
}

#experiences .experience .experience-details {
    display: block;
    margin-top: 6px;
}
#experiences .experience .experience-details .separator {
    color: #BCBCBC;
}

#abilities ul>li {
    min-height: 30px;
    padding: 3px 0px;
}

#abilities ul>li:hover {
    background: #F2F2F2;
}

#abilities ul>li .ability-title {
    display: inline-block;
    width: 60%;
}

#abilities ul>li .ability-score {
    float: right;
}

#abilities ul>li .ability-score .fa-star {
    color: var(--main-color);
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#abilities ul>li:hover .ability-score .fa-star {
    margin-left: 2px;
}

/*
INTERESTS
 */
#interests .left {
    float: left;
}

#interests .right {
    float: right;
}

#interests img {
    width: 80%;
    height: auto;
}

#interests .right img {
    float: right;
}

#interests .interest-content {
    padding: 40px 0px;
}
#interests .row:hover .left img {
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
}

#interests .row:hover .right img {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
}

#projects .row>div {
    margin-bottom: 30px;
}

#projects figure {
    position: relative;
    overflow: hidden;
}

#projects figure h3 {
    color: #FFF;
    margin-bottom: 0;
    font-weight: 600;
}

#projects figure p>strong {
    width: 60px;
    display: inline-block;
    margin: 0px;
}

#projects figure img {
    width: 110%;
}
#projects figure figcaption {
    padding: 2rem;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure .icon {
    background: var(--main-color);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 3em;
    height: 3em;
}
#projects figure .icon i {
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding: 0.5rem;
    display: block;
    text-align: center;
    vertical-align: middle;
}
#contact {
    padding-bottom: 200px;
}

#contact h2,
#contact .row * {
    color: #FFFFFF;
}

#contact a {
    display: block;
    line-height: 32px;
    margin-bottom: 20px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#contact a .icon {
    float: left;
    margin-right: 20px;
}

#contact a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    text-decoration: none;
}

/*
 FIGURE (PROJECT SECTION)
*/
figure.effect {
    background: var(--main-color);
    color: #FFF;
}

figure.effect img {
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect:hover img {
    opacity: 0.1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect figcaption {
    text-align: left;
}

figure.effect h3 {
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
    opacity: 1;
}

figure.effect h3::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

figure.effect:hover h3::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect p {
    padding-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

figure.effect:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*
MEDIA QUERIES
*/
@media (min-width: 768px){
    .resume-navbar{
        top: 200px;
    }
}
@media (max-width: 1199px) {
    #interests .interest-content {
        padding: 20px 0px;
    }

    .experiences p.experience-period {
        margin-bottom: 0;
    }
    #experiences .experience .experience-details {
        margin-top: 0;
    }
    #projects figure figcaption {
        padding: 1rem 1rem;
    }
    #projects figcaption > h3 {
        font-size: 1.2em;
    }
    #projects figure .icon {
        width: 2em;
        height: 2em;
    }
    #projects figure .icon i {
        font-size: 1rem;
        line-height: 1rem;
    }
    #projects .effect h3 {
        padding-bottom: 0.5rem;
    }
    figure.effect p {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    h4 {
        font-weight: 600;
        font-size: 1.75rem;
    }
    h4.specification {
        color:var(--secondary);
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .resume-navbar  {
        left: 0px;
        width: 100%;
        bottom: 0;
    }
    .resume-navbar .navbar-nav .nav-item {
        height: 4rem;
    }
    .resume-navbar .navbar-nav .nav-item a {
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        color: #FFFFFF;
        line-height: 0.5rem;
    }
    section.hero  .hero-header h1 {
        font-size: 3rem;
    }
    section.hero:before {
        bottom: 100px;
        left: 20px;
        right: 20px;
        top: 20px;
    }
    section.hero .hero-header { top: 20%; padding-top: 0px; }

    .section-container { padding: 60px 40px; min-width: 280px; }
    .hidden-phone { display: none; }

    #profile .row * { text-align: center; }

    #experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
    #experiences .experience .experience-details .seperator { display: none; }

    #interests .left { float: none; }
    #interests .right { float: none; }

    #interests > * { text-align: center; }
    #interests img { width: 50%; height: auto; float: none !important; }
    #interests .interest-content { padding: 20px 0px; }

    #contact { padding-bottom: 60px; }
    #contact a .icon { float: left; margin-right: 10px; }

    .hero {
        -webkit-background-size: auto 150%;
        background-attachment: scroll;
    }
}
@media (max-width: 360px) {
    section.hero  .hero-header h1, h1, .section-container h1 {
        font-size: 2.3rem;
    }
    section.hero .hero-header .lead {
        font-size: 1.5rem;
    }
    .section-container .blockquote {
        font-size: 1.2rem;
    }
}


