
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Projet de formation OpenClassRooms : aBBlog">
<meta name="robots" content="none" />
<title>{% block title %}aBBlog - Blog Personnel{% endblock %}</title>

<!-- Favicons -->
<link href="{{ constant('ASSETS_PATH') }}img/front/favicon.png" rel="shortcut icon" type="image/x-icon">
<link href="{{ constant('ASSETS_PATH') }}img/front/favicon.png" rel="icon" type="image/x-icon">
<link href="{{ constant('ASSETS_PATH') }}img/front/apple-touch-icon.png" rel="apple-touch-icon" type="image/x-icon">

<!-- Librairies core CSS -->
<link href="{{ constant('ASSETS_PATH') }}lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ constant('ASSETS_PATH') }}lib/font-awesome/css/all.css" rel="stylesheet" />

<!-- Core CSS -->
<link href="{{ constant('ASSETS_PATH') }}css/initial.css" rel="stylesheet">
<link href="{{ constant('ASSETS_PATH') }}css/front/navbar.css" rel="stylesheet">
<link href="{{ constant('ASSETS_PATH') }}css/front/footer.css" rel="stylesheet">