{% set nearbyPagesLimit = 2 %}

{% if nbPages > 1 %}
    <nav role="navigation">
        <ul class="pagination pagination-template d-flex justify-content-center">
            {% for i in 1..nbPages|slice(0, 3) %}
                {% if (currentPage - nearbyPagesLimit) - loop.index == 0%}
                    <li class="page-item">
                        <a href="{{ (url ~ '?page=' ~ 1)|e  }}" class="page-link">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                {% elseif (currentPage + nearbyPagesLimit) - loop.index == 0 and (currentPage + nearbyPagesLimit) <= nbPages %}
                    <li class="page-item">
                        <a href="{{ (url ~ '?page=' ~ nbPages)|e  }}" class="page-link">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                {% elseif (currentPage - nearbyPagesLimit) - loop.index > 0 %}
                {% elseif (currentPage + nearbyPagesLimit) - loop.index < 0 %}
                {% else %}
                    <li class="page-item">
                        <a href="{{ url ~ '?page=' ~ loop.index }}" class="page-link {% if currentPage == loop.index  %} active{% endif %}">
                            {{ loop.index }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}