<!-- Librairies -->
<script src="{{ constant('ASSETS_PATH') }}lib/jquery/jquery-3.4.1.min.js"></script>
<script src="{{ constant('ASSETS_PATH') }}lib/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Custom -->
<script >

    /* GLOBAL VARIABLES */
    var assetPath = "{{ constant('ASSETS_PATH') }}";
    var serverPath = "{{ constant('SERVER_BASE') }}";
    var uploadPath = "{{ constant('UPLOADS_PATH') }}";
    var cvPath = "{{ constant('CV_PATH') }}";
    var cvNameFile = "{{ constant('NAMEFILE_RESUME') }}";
    var genericalErrorMessage = "{{ constant('ERROR_MESSAGE') }}";
    var genericalSuccessMessage = "{{ constant('SUCCESS_MESSAGE') }}";
    var sizesImg = {
        'minWidthPost' : {{ constant('MIN_WIDTH_POST_IMG') }},
        'minHeightPost' : {{ constant('MIN_HEIGHT_POST_IMG') }},
        'minWidthUser' : {{ constant('MIN_WIDTH_USER_IMG') }},
        'minHeightUser' : {{ constant('MIN_HEIGHT_USER_IMG') }},
        'maxWidth' : {{ constant('MAX_WIDTH_IMG') }},
        'maxHeight' : {{ constant('MAX_HEIGHT_IMG') }}
    }
</script>

<!-- Specific -->
<script src="{{ constant('ASSETS_PATH') }}js/front/main-scripts.js"></script>
<script src="{{ constant('ASSETS_PATH') }}js/common-scripts.js"></script>
<script src="{{ constant('ASSETS_PATH') }}js/check-browser.js"></script>