<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
    <div class="white-panel pn">
        <div class="white-header">
            <h5>TOP COMMENTATEUR</h5>
        </div>
        <p><img src="{{ constant('UPLOADS_PATH') }}images/admin/profile/v_{{ topuser.user.image }}" alt="Image de profil" class="rounded-circle" width="80"></p>
        <p class="identity"><b><a href ="{{ constant('SERVER_BASE') }}admin/config/users/{{ topuser.user.userId }}/edit">{{ topuser.user.fullname }}</a></b></p>
        <div class="row mt-2">
            <div class="col-12 text-center">
                <h5 class="">Inscription : {{ topuser.user.dateCreate | localizeddate('short', 'none', locale) }}</h5>
                <h5 class="">Commentaires : {{ topuser.nb }}</h5>
            </div>
        </div>
    </div>
</div>