<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
    <div class="pink-panel pn">
        <div class="pink-header">
            <h5>STATS</h5>
        </div>
        <div class="row mr-1 ml-1 p-0">
            <div class="col-12 mb-xl-0 mb-lg-3">
                <div class="chart">
                    <canvas id='comments-by-months' width="360" height='180' data-data='{{ aCommentsMonths }}'> </canvas>
                </div>
            </div>
            <div class="col-12 mt-xs-0 mt-lg-3 mt-xl-1 text-center">
                <h6 class="text-white ">Nombre de commentaires mensuels sur les 7 derniers mois</h6>
            </div>
        </div>
    </div>
</div>