<div class="col-xl-{{ nextblock.width }} col-lg-{{ nextblock.width }} col-md-6 col-sm-6 mb-4">
    <div class="yellow-panel pn">
        <div class="yellow-header">
            <h5>COMMENTAIRES</h5>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-12 m-0 p-0 text-center">
                    <h3><i class="fas fa-comments fa-4x"></i></h3>
                    <p>
                        <span class="nb mt-1">{{ commentToMod.nb }}</span><br />
                        <span class="lib-nb"> en attente de validation</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-panel text-center">
            {% if role > 0 and role < 3 %}
                <a href="{{ constant('SERVER_BASE') }}admin/comments" class="btn btn-small btn-secondary">Voir les commentaires</a>
            {% endif %}
        </div>
    </div>

</div>