<!--CUSTOM CHART START -->
{% set maxValue = 0 %}
{% for bar in aPostsChart %}
    {% set maxValue = max(bar.value, maxValue) %}
{% endfor %}

<div class="border-head">
    <h3>ARTICLES PUBLIÉS PAR MOIS</h3>
</div>
<div class="custom-bar-chart">
    <ul class="y-axis">
        {% for i in 5..1 %}
            <li><span>{{ ((maxValue/5) * i) | round }}</span></li>
        {% endfor %}
        <li><span>0</span></li>
    </ul>
    {% for bar in aPostsChart %}
        <div class="bar">
           <div class="title">{{ date(bar.date)|localizeddate('none', 'none', 'none',null,'MMM')|capitalize }}</div>
            <div class="value tooltips" data-original-title="{{ bar.value }}" data-toggle="tooltip" data-placement="top">{{ ((bar.value * 100) / maxValue)|round ~'%' }}</div>
        </div>
    {% endfor %}
 </div>
<!--custom chart end-->