<!-- WEATHER PANEL -->
{% if weather.available %}
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-4">
        <div class="weather widget-weather pn">
            <div class="content">
                <div class="row h-100 p-0 m-0">
                <div class="col-6 my-auto">
                    <img src="{{ weather.icon }}" alt="Icone météo">
                </div>
                <div class="col-6 my-auto text-right">
                    <h4 class="temp">{{ weather.temperature }} °C </h4>
                    <h4 class="descr">{{ weather.description | capitalize}}</h4>
                </div>
                </div>
            </div>
            <div class="footer-panel weather-geo text-center">
                <h4><span>{{ weather.city }}</span></h4>
                <h4>
                    <span class="day">{{ weather.date | localizeddate('none', 'none', null, null, 'dd') }}</span>
                    <span class="abbr month">{{ weather.date | localizeddate('none', 'none', null, null, 'MMM') }}</span>
                    <span class="full month">{{ weather.date | localizeddate('none', 'none', null, null, 'MMMM') }}</span>
                    <span class="year">{{ weather.date | localizeddate('none', 'none', null, null, 'Y') }}</span>
                </h4>
            </div>
        </div>
    </div>
{% endif %}