<!-- DIRECT MESSAGE PANEL -->
<div class="col-xl-8 col-lg-12 mb-4">
    <div class="message-p pn">
        <div class="message-header">
            <h5>MESSAGERIE</h5>
        </div>
        <div class="row content m-0 message-none">
            <div class="col-lg-3 col-sm-3 text-center icon">
                <h1 class="mt-0"><i class="fas fa-envelope fa-4x"></i></h1>
            </div>

            {% if lastMsg.messageId is not null %}
                <div class="col-lg-9 col-sm-9 col-12">
                    <div class="identity">
                        <span class="name">{{ lastMsg.sender }}</span>
                        vous a envoyé un message via le formulaire de contact.
                        <span class="small">{{ lastMsgAgo }}</span>
                    </div>
                    <div class="message">
                        <b>Object : {{ lastMsg.subject|truncate(75, true) }}</b><br />
                        {{ lastMsg.content|truncate(180, true) }}
                    </div>
                </div>
            {% else %}
                <div class="col-lg-9 col-sm-9 col-9 message-none text-center">
                    <h5>Aucun message n'a encore été envoyé depuis le formulaire de contact</h5>
                </div>
            {% endif %}

        </div>
        <div class="footer-panel text-center">
            {% if role > 0 and role < 3 %}
                <a href="{{ constant('URL_WEBMAIL') }}" class="btn btn-small btn-secondary" target="_blank">Accéder à la messagerie</a>
            {% endif %}
        </div>
    </div>
</div>