<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
    <div class="darkblue-panel pn">
        <div class="darkblue-header">
            <h5>EDITORIAL</h5>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-xl-6 d-lg-none d-xl-block col-sm-6 col-6 pr-0">
                    <h2 class="text-white mt-3"><i class="fas fa-feather fa-4x"></i></h2>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-6 pl-0">
                    <div class="stats-panel">
                        <h5><i class="fas fa-database"></i>  {{ "%s articles"|format(posts.nb) }}</h5>
                        <h5><i class="fas fa-toggle-on" title="en ligne"></i>  {{ "%s en ligne"|format(activePosts.nb) }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-panel">
            {% if role > 0 and role < 3 %}
                <a href="{{ constant('SERVER_BASE') }}admin/blog/posts/add" class="btn btn-small btn-theme">Ajouter un article</a>
            {% endif %}
        </div>
    </div>
</div>