<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
    <div class="grey-panel pn user">
        <div class="grey-header">
            <h5>UTILISATEURS</h5>
        </div>
        <div class="content">
            <div class="row">
                <!--<div class="col-lg-4">
                    <div class="badge ">STATS</div>
                </div>-->
                <object class="mb-0" data="{{ constant('ASSETS_PATH') }}img/admin/dashboard/users_group.svg"
                        width="100"
                        height="80"
                        type="image/svg+xml">
                    <img src="{{ constant('ASSETS_PATH') }}img/admin/dashboard/users_group.png" alt="image d'illustration utilisateurs" />
                </object>
            </div>
            <div class="row">
                <h5>{{ "%s UTILISATEURS"|format(users.nb) }}</h5>
            </div>
            <div class="row">
                <h6>Dont <b>{{ activeCommentators.nb }}</b> commentateur{% if activeCommentators.nb > 1 %}s{% endif %} actif{% if activeCommentators.nb > 1 %}s{% endif %}</h6>
            </div>
        </div>
        <div class="footer-panel">
            {% if role == 1 %}
                <a href="{{ constant('SERVER_BASE') }}admin/config/users/add" class="btn btn-small btn-theme">Ajouter un utilisateur</a>
            {% endif %}
        </div>
    </div>
</div>