<div class="col-xl-{{ nextblock.width }} col-lg-{{ nextblock.width }} col-md-6 col-sm-6 mb-4">
    <div class="instagram-panel pn">
        <div class="instagram-header">
            <h5>ARTICLE LE PLUS COMMENTÉ</h5>
        </div>
        <div class="content">
            <div class="row m-0 p-0">
                <div class="col-12 m-2 text-center">
                    <h3><i class="fas fa-trophy fa-2x"></i></h3>
                    <h4><a href="{{ constant('SERVER_BASE') }}admin/blog/posts/{{ topPost.postId }}/edit">{{ topPost.title }}</a></h4>
                </div>
            </div>
            <div class="row d-sm-none d-xs-none d-lg-flex">
                <div class="col-xl-6 col-lg-6 col-sm-6 col-6 p-2">
                    <div class="avatar">
                        <a href="{{ constant('SERVER_BASE') }}admin/config/users/{{ topPost.user.userId }}/edit">
                            <img src="{{ constant('UPLOADS_PATH') }}images/admin/profile/v_{{ topPost.user.image }}" alt="Photo de profil" class="img-fluid">
                        </a>

                    </div>
                    <a href="{{ constant('SERVER_BASE') }}admin/config/users/{{ topPost.user.userId }}/edit">
                        {{ topPost.user.fullname }}
                    </a>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-6 col-6 p-2">
                    <i class="far fa-clock"></i><br />
                    {{ topPost.dateCreate | localizeddate('short', 'none', locale,null,'dd/MM/yyyy HH:mm:ss') }}
                </div>
            </div>
        </div>
        <div class="footer-panel">
            <i class="fas fa-eye fa-lg"></i> {{ topPost.count }} |
            <i class="fas fa-comment fa-lg"></i> {{ topPost.comments|length }}
        </div>
    </div>
</div>