<div class="col-lg-3 ds">
    <!-- POSTS BY CATEGORY -->
    <div class="donut-main text-center">
        <h4>ARTICLES PAR CATEGORIES</h4>
        <canvas id="stats-posts" width="400" data-data='{{ postsByCat }}' height="250"></canvas>
    </div>
    <hr>

    <div class="panel terques-chart">
        <div class="panel-body">
            <div class="chart">
                <div class="text-center">
                    <span>INSCRIPTIONS COMMENTATEURS</span>
                </div>
                <br>
                <canvas id='active-comments' width="360" height='180' data-data='{{ aCommentsChart }}'> </canvas>
            </div>
        </div>
    </div>

    <hr>
    <!-- RECENT ACTIVITIES SECTION -->
    <h4 class="text-center mt-3">DERNIERS ARTICLES PUBLIÉS</h4>
    {% for post in aLatestsPosts.aPosts %}
        <div class="desc">
            <div class="thumb col-xl-2 col-lg-2 col-md-2 col-2">
                <span class="badge bg-theme"><i class="far fa-clock"></i></span>
            </div>
            <div class="details col-xl-10 col-lg-10 col-md-10 col-10">
                <p>
                    <span class="muted">{{ post.DateCreate }}</span>
                    <br>
                    <a href="{{ constant('SERVER_BASE') }}admin/config/users/{{ post.user.userID }}/edit"><b>{{ post.user.firstname }}  {{ post.user.lastname }}</b></a> a rédigé l'article :<br />
                    <a href="{{ constant('SERVER_BASE') }}admin/blog/posts/{{ post.postId }}/edit"><i>{{ post.title }}</i></a><br>
                </p>
            </div>
        </div>
    {% endfor %}

    <!-- CALENDAR-->
    <div id="calendar" class="mb-3">
        <div class="panel pink-panel m-0">
            <div class="panel-body">
                <div id="my-calendar"></div>
            </div>
        </div>
    </div>

</div>