<section id="about" class="paddsection">
    <div class="container">
        <div id="introduction" class="row justify-content-between">
            <div class="col-lg-4 offset-lg-0 col-sm-4 offset-sm-0 col-6 offset-3">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="{{ constant('ASSETS_PATH') }}img/front/profil.jpg" class="img-responsive" alt="me">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-8 col-12">
                <div class="row about-descr">
                    {% for block in presentation|slice(0,1) %}
                    <div class="p-heading">{{ block.chapo|striptags }} </div>
                    <div class="separator d-xl-block d-lg-block d-md-none d-sm-none d-block">{{ block.content|striptags|raw|nl2br }}</div>
                    {% endfor %}
                </div>
                <div class="row link">
                    <div class="col-lg-6 col-sm-6 col-12 m-0 p-0 text-md-left text-center">
                        <div class="resume-link separator"><a href="{{ constant('SERVER_BASE') }}resume"><i class="fas fa-star-of-life"></i><span>Consulter mon CV</span></a></div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12 p-0 text-md-left text-center">
                        <div class="resume-link separator">
                            <a href="{{ constant('CV_PATH') ~ constant('NAMEFILE_RESUME') }}" target="_blank">
                                <i class="far fa-file-pdf"></i><span>Télécharger mon CV</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="separator col-md-12 col-sm-12 d-xl-none d-lg-none d-md-block d-sm-block d-none">
                    {% for block in presentation|slice(0,1) %}
                        {{ block.content|striptags|raw|nl2br }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>
<div id="services">
    <div class="container">
        <div class="services-carousel owl-theme">
            {% for skill in skills %}
            <div class="services-block">
                <i class="{{ skill.chapo }}"></i>
                <span>{{ skill.title }}</span>
                <p class="separator">{{ skill.content|striptags }}</p>
            </div>
            {%  endfor %}
        </div>
    </div>
</div>