<!-- Latest Posts -->
<section id="journal" class="latest-posts">
    <div class="container">
        <header>
            <h2>Dernièrement sur le blog...</h2>
            <p class="text-big">Retrouvez les derniers articles parus sur le aBBlog.</p>
        </header>
        <div class="row">
            {% for post in posts %}
                <div class="post col-md-4">
                    <div class="post-thumbnail">
                        <a href="blog/article-{{ post.postid }}">
                            <img src="{{ constant('UPLOADS_PATH') }}images/blog/l_{{ post.imageFile }}" alt="Illustration article {{ post.postid }}" title="" class="img-fluid">
                        </a>
                    </div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="date d-xl-block d-lg-block d-md-none d-sm-none d-block">
                                {{ post.dateCreate | localizeddate('none', 'none', null, null, 'dd MMMM') }} |
                                {{ post.dateCreate | localizeddate('none', 'none', null, null, 'Y') }}
                            </div>
                            <div class="date d-xl-none d-lg-none d-md-block d-sm-block d-none">
                                {{ post.dateUpdate | localizeddate('none', 'none', null, null, 'dd MMM Y') }}
                            </div>
                            <div class="category">
                                {% for category in post.categories|slice(0, 1) %}
                                    <a href="categorie-{{ category.categoryid }}">
                                        {{ category.name }}
                                    </a>
                                    {% if not loop.last %}<br /> {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <a href="blog/article-{{ post.postid }}">
                            <h3 class="h4">{{ post.title }}</h3>
                        </a>
                        <p class="text-muted">{{ post.chapo|truncate(120,true) }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="{{ constant('SERVER_BASE') }}blog" class="btn btn-default btn-send">Voir tous les articles</a>
            </div>
        </div>
    </div>
</section>