<!-- start section contact -->
<section id="contact" class="paddsection">
    <div class="container">
        <header>
            <h2>Restons en contact</h2>
        </header>
        <div class="contact-block1">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form action="{{ constant('SERVER_BASE') }}contact-message" method="post" id="contactForm" class="contactForm" role="form" novalidate>
                        <p class="result-message alert"></p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group contact-block1">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom *" data-rule="minlen:4" data-msg="Entrez au moins 4 caractères" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="emailContact" id="emailContact" placeholder="Votre Email *" data-rule="email" data-msg="Entrez un email valide" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet *" data-rule="maxlen:250" data-msg="Entrez au moins 8 caractères" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Ecrivez quelque chose" placeholder="Message *"></textarea>
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <input type="button" id="send-message" class="btn btn-default btn-send" value="Envoyer le message">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>