<!-- Hero Section-->
<section id="header" class="hero home">
    <div class="hero-header">
        <div class="full-identity">
            <div class="pitch">
                <h1>Je suis <span class="typed"></span></h1>
            </div>
            <p>Web Developpeuse, boxeuse, maman ...</p>

            <ul class="list-unstyled list-social">
                <li class="list-inline-item"><a href="http://www.linkedin.com/in/armelle-braud" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="http://www.viadeo.com/fr/profile/armelle.braud" target="_blank"><i class="fab fa-viadeo"></i></a></li>
                <li class="list-inline-item"><a href="https://www.twitter.com/@ArmelleBraud" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://gitlab.com/armelle.braud" target="_blank"><i class="fab fa-gitlab"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/Memelo95" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
        <a href="#about" class="continue">
            <span><i class="fas fa-chevron-down"></i></span>
        </a>
    </div>
</section>