<aside class="col-lg-4" role="complementary">
    <!-- Widget [Latest Posts Widget] -->
    {% include "front/aside/widget-hightlight-posts.html.twig" %}

    <!-- Widget [Categories Widget] -->
    {% include "front/aside/widget-categories.html.twig" %}

    <!-- Widget [Tags Cloud Widget] -->
    {% include "front/aside/widget-tags.html.twig" %}
</aside>