<div class="modal" id="newAccountModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="spanner">
                <div class="loader"></div>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Création de compte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new-account-form" class="form-comment" action="{{ constant('SERVER_BASE') }}admin/config/users/save" method="POST" enctype="multipart/form-data" role="form" novalidate>
                    <p class="result-message alert"></p>
                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="form-group row mt-2">
                                <div class="col-lg-6">
                                    <label class="control-label" for="firstname">Prénom *</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom" value="" required>
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label" for="lastname">Nom *</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom" value="" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <div class="col-lg-12">
                                    <label class="control-label" for="useremail">Email *</label>
                                    <input type="email" class="form-control" id="useremail" name="useremail" placeholder="Email" value="" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <div class="col-lg-12">
                                    <label class="control-label" for="userpassword">Mot de passe *</label>
                                    <input type="text" class="form-control input-lg mr-1" id="userpassword" name="userpassword" placeholder="Choisir un mot de passe" rel="gp" data-size="12" data-character-set="a-z,A-Z,0-9" maxlength="50" >
                                    <div class="col-lg-12 p-0">
                                        <small class="text-muted">
                                            Entre 6-20 caractères.
                                            Au moins 1 chiffre, 1 lettre minuscule et 1 lettre majuscule.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- IMAGE -->
                        <div class="col-md-4">
                            <div class="file-loading">
                                <input type="file" id="image" name="image[]" multiple="multiple" data-browse-on-zone-click="true">
                            </div>
                            <p class="alert alert-warning img-indication mt-1 small">
                                jpg, png, gif | max. 4 Mo |
                                80px <i class="fas fa-chevron-right"></i> Taille <i class="fas fa-chevron-left"></i> {{ constant('MAX_WIDTH_IMG') }}px
                            </p>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-12">
                                <button class="btn btn-theme" id="new-account-submit" type="button">Enregistrer</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>