<div class="modal" id="fr-connexion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form inline form-login" id="comment-login"  name="comment-login" action="{{ constant('SERVER_BASE') }}admin/login" method="post" role="form" novalidate>
                    <input type="hidden" id="origin" name="origin" value="{% if 'admin' in sUrl %}admin{% else %}front{% endif %}" aria-hidden="true">
                    <input type="hidden" id="url" name="url" value="{{ sUrl }}" aria-hidden="true">

                    <p class="result-modal-message alert"></p>
                    <div class="form-row">
                        <div class="col-lg-5">
                            <label class="sr-only" for="email">Email</label>
                            <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Email *">
                        </div>
                        <div class="col-lg-5">
                            <label class="sr-only" for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control mb-2" placeholder="Mot de passe *">
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-theme btn-block" id="login-submit" type="button"><i class="fa fa-lock"></i> Connexion</button>
                        </div>
                    </div>
                    <div class="form-row justify-content-start">
                        <div class="col-lg-5 col-md-12 col-12 offset-md-5 text-center">
                            <a class="form-check-label" data-toggle="modal" href='#newAccountModal' data-dismiss="modal"> Créer un compte</a> |
                            <a class="form-check-label" data-toggle="modal" href="#forgot-pass" id="forgotPassBtn" data-org="modal" data-dismiss="modal"> Mot de passe oublié ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
