<div class="add-comment">
    <header>
        <h3 class="h6">Laisser un commentaire</h3>
    </header>
    <form action="{{ constant('SERVER_BASE') }}blog/comment/save" method="POST" id="commenting-form" class="commenting-form" role="form" novalidate>
        <input type="hidden" id="postId" name="postId" value="{{ post.postId }}" aria-hidden="true">
        <p class="result-message alert"></p>
        <div class="row">
            <div class="form-group col-md-6">
                <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo *" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="title" id="title" placeholder="Titre *" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <textarea name="usercomment" id="usercomment" placeholder="Ecrivez votre commentaire * (max 450 car.)" class="form-control" maxlength="450"></textarea>
            </div>
            <div class="form-group col-md-12">
                <button type="button" id="commenting-submit" class="btn btn-secondary">Envoyer le commentaire</button>
            </div>
        </div>
    </form>
</div>