<div id="post-comments" class="post-comments">
    <header>
        <h3 class="h6">Commentaires<span class="no-of-comments">({{ post.comments|length }})</span></h3>
    </header>

    {% for comment in post.comments %}

        <div class="comment mb-3">
            <div class="comment-header d-flex bd-highlight mt-2 mb-1">
                <div class="image p-2 bd-highlight">
                    {% if comment.user.image is not empty %}
                        {% set img =  comment.user.image %}
                    {% else %}
                        {% set img =  constant('GENERIC_USER_IMAGE') %}
                    {% endif %}
                    <img src="{{ constant('SERVER_BASE') }}{{ constant('PROFILE_IMG_PATH') }}v_{{ img }}" alt="Photo de profil" class="img-fluid rounded-circle">
                </div>
                <div class="comments align-self-start p-2 bd-highlight w-100">
                    <h5>{{ comment.pseudo }}</h5>
                    <strong>{{ comment.commentTitle }}</strong>
                    <span class="date">{{ comment.dateUpdate | localizeddate('long', 'medium', locale) }}</span>
                    <div class="comment-body mt-3">
                        <p>{{ comment.commentText }}</p>
                    </div>
                </div>
                {% if role in [constant('ID_ADMIN'),constant('ID_EDITOR')] and currentUserId is not null%}
                    <div class="actions p-2 bd-highlight flex-shrink-1">
                        <a href="" class="page-unlink" title="Masquer ce commentaire" data-toggle='modal' data-target='#hideComModal' data-id='{{ comment.commentId }}'>
                            <i class="fas fa-times-circle fa-2x"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>


<!-- Modal -->
<div class="modal" id="hideComModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Masquer un commentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="hide-comments" class="form-comment" action="{{ constant('SERVER_BASE') }}blog/comment/status" method="POST" role="form">
                    <input id="idComment" name="idComment" type="hidden" value="" aria-hidden="true">
                    <input id="idStatus" name="idStatus" type="hidden" value="3" aria-hidden="true">
                    <input id="idPost" name="idPost" type="hidden" value="{{ post.postId }}" aria-hidden="true">
                    <p class="result-message alert"></p>
                    <p class="info"> Etes vous sur de vouloir masquer ce commentaire ? </p>
                    <div class="modal-footer">
                        <button type="button" id="confirm-status" class="btn btn-theme confirm">Confirmer</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

