<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Projet de formation OpenClassRooms : aBBlog">
<meta name="robots" content="none" />
<title>{% block title %}aBBlog - Administration{% endblock %}</title>

<!-- Favicons -->
<link href="{{ constant('ASSETS_PATH') }}img/admin/favicon.ico" rel="icon" type="image/x-icon">
<link href="{{ constant('ASSETS_PATH') }}img/admin/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="{{ constant('ASSETS_PATH') }}img/admin/apple-touch-icon.png" rel="apple-touch-icon" type="image/x-icon">

<!-- Bootstrap core CSS -->
<link href="{{ constant('ASSETS_PATH') }}lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- External libs CSS -->
<link href="{{ constant('ASSETS_PATH') }}lib/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">

<!-- Custom font CSS -->
<link href="{{ constant('ASSETS_PATH') }}lib/font-awesome/css/all.css" rel="stylesheet" />

<!-- Core CSS -->
<link href="{{ constant('ASSETS_PATH') }}css/admin/normalize.css" rel="stylesheet">
<link href="{{ constant('ASSETS_PATH') }}css/initial.css" rel="stylesheet">
<link href="{{ constant('ASSETS_PATH') }}css/admin/style-admin.css" rel="stylesheet">
<link href="{{ constant('ASSETS_PATH') }}css/admin/style-admin-responsive.css" rel="stylesheet">
