<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            {% include "front/_partials/head.html.twig" %}
        {% endblock %}

        {% if block('stylesheet') is not empty %}
            {% block stylesheet %}{% endblock %}
        {% endif %}
    </head>

    <body id="page">
        <!-- Nav -->
        {% block nav %}{% endblock %}

        <!-- main content area start -->
        {% block main %}{% endblock %}

        <!-- footer area start-->
        {% if footer %}
            {% include "front/blocs/footer.html.twig" %}
        {% endif %}

        <!-- Modal -->
        {% include "front/blocs/modal-upgrade.html.twig" %}
        {% include "front/blocs/blog/blog-form-connexion.html.twig" %} <!-- Modal connexion -->
        {% include "admin/blocs/modal-password.html.twig" %}  <!-- Modal forgott password -->
        {% include "front/blocs/blog/blog-modal-account.html.twig" %}  <!-- Modal new account -->

        <!-- Common Scripts -->
        {% include "front/_partials/scripts.html.twig" %}

        <!-- Custom Scripts -->
        {% block js %}{% endblock %}
    </body>
</html>