<div class="widget latest-posts">
    <header>
        <h3>A la une</h3>
    </header>
    <div class="blog-posts">
        {% for post in HightlightPosts %}
            <a href="{{ constant('SERVER_BASE') }}blog/article-{{ post.postid }}">
                <div class="item d-flex align-items-center">

                    <div class="image">
                        <img src="{{ constant('UPLOADS_PATH') }}images/blog/v_{{ post.imageFile }}" alt="" class="img-fluid">
                    </div>
                    <div class="title">
                        <strong>{{ post.title }}</strong>
                        <div class="d-flex align-items-center">
                            <div class="views"><i class="far fa-eye"></i> {{ post.count }}</div>
                            <div class="comments"><i class="far fa-comment"></i>{{ post.comments|length }}</div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>