<div class="widget categories">
    <header>
        <h3>Catégories</h3>
    </header>
    {% for cat in allCatsWithCount|slice(0,constant('NUMBER_DISPLAY_CATS')) %}
        {% if cat.count > 0 %}
            <div class="item d-flex justify-content-between">
                <a href="{{ constant('SERVER_BASE') }}blog/category-{{ cat.idCat }}">{{ cat.nameCat }}</a>
                <span>{{ cat.count }}</span>
            </div>
        {% endif %}
   {% endfor %}
</div>