{% if allTags|length > 0 %}
    <div class="widget tags">
        <header>
            <h3>Tags</h3>
        </header>
        <ul class="list-inline">
            {% for tag in allTags|slice(0,constant('NUMBER_DISPLAY_TAGS')) %}
            <li class="list-inline-item">
                <a href="{{ constant('SERVER_BASE') }}blog/tag-{{ tag.tagId }}" class="tag">#{{ tag.name|capitalize }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}