{% extends "front/base-front.html.twig" %}

{% block stylesheet %}
    <link href="{{ constant('ASSETS_PATH') }}css/front/resume-style.css" rel="stylesheet">
{% endblock %}


{% block nav %}
    {% include "front/blocs/general-navbar.html.twig" %}
{% endblock %}

{% block title %}aBBlog - CV{% endblock %}

 {% block main %}
     <div class="container-fluid scrollspy-resume m-0 p-0" data-spy="scroll" data-target="#navbarSupportedContent"  data-offset="500">
         <div class="row">
             {% include "front/blocs/resume/resume-navbar.html.twig" %}

             <div class="background-white">
                 <div id="profile" class="section-container">
                     {% include "front/blocs/resume/profile.html.twig" %}
                 </div>
             </div>

             <div id="experiences" class="section-container">
                 {% include "front/blocs/resume/experiences.html.twig" %}
             </div>

             <div class="background-white">
                 <div id="abilities" class="section-container">
                     {% include "front/blocs/resume/abilities.html.twig" %}
                 </div>
             </div>

             <div id="projects" class="section-container">
                 {% include "front/blocs/resume/projects.html.twig" %}
             </div>

             <div class="background-white">
                 <div id="interests" class="section-container">
                     {% include "front/blocs/resume/interests.html.twig" %}
                 </div>
             </div>
             {% include "front/blocs/footer.html.twig" %}
         </div>
     </div>
 {% endblock %}

{% block js %}
    <script  src="{{ constant('ASSETS_PATH') }}js/front/main-scripts.js"></script>
    <script >
        $(document).ready(function(){
            navResume();
            activeLinksNav();
        });
    </script>
{% endblock %}