/*
  Author: Armelle Braud
  Commons colors for back and front office of aBBlog website
*/


/*-----------------------------------------------------------------------------------*/
/*  Import fonts
/*-----------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap);



/*-----------------------------------------------------------------------------------*/
/*  Variables
/*-----------------------------------------------------------------------------------*/
:root {
    --main-color: #d2beec;
    --button-text-color: #fff;
    /*--button-bg-color: #ac92ec;*/
    --button-bg-color: #d2beec;
    --button-border-color: #967adc;
    --main-font-family: 'Open Sans', sans-serif;
    --home-font-family: 'Poppins', helvetica;
    --logo-font-family: 'Amatic SC', arial;
    --elegant-font-family: 'Playfair Display', serif;
    --admin-font-family: 'Ruda', sans-serif;
    --blog-title-font-family: 'PT Sans Narrow', sans-serif;
}

/* ==========================================================
*     INIT
* ==========================================================
*/
html,
body {
    line-height: 1.5rem;
    font-size: 100%;
    font-weight: normal;
    overflow-x: hidden;
}
::-moz-selection {
    background: var(--main-color);
    color: #fff;
}

::selection {
    background: var(--main-color);
    color: #fff;
}
/* ==========================================================
*     TYPOGRAPHY
* ==========================================================
*/
h1,
.h1 {
    font-size: 2.5em;
}

h2,
.h2 {
    font-size: 2em;
}

h3,
.h3 {
    font-size: 1.75em;
}

h4,
.h4 {
    font-size: 1.5em;
}

h5,
.h5 {
    font-size: 1.25em;
}

h6,
.h6 {
    font-size: 1em;
}

/* ==========================================================
*     COLORS
* ==========================================================
*/
.bg-red {
    background: #ff7676 !important;
    color: #fff;
}

.bg-red:hover {
    color: #fff;
}

.bg-blue {
    background: #85b4f2 !important;
    color: #fff;
}

.bg-blue:hover {
    color: #fff;
}

.bg-yellow {
    background: #ffc107 !important;
    color: #fff;
}

.bg-yellow:hover {
    color: #fff;
}

.bg-green {
    background: #54e69d !important;
    color: #fff;
}

.bg-green:hover {
    color: #fff;
}

.bg-orange {
    background: #ffc36d !important;
    color: #fff;
}

.bg-orange:hover {
    color: #fff;
}

.bg-violet {
    background: #796AEE !important;
    color: #fff;
}

.bg-violet:hover {
    color: #fff;
}

.bg-gray {
    background: #ced4da !important;
}

.bg-white {
    background: #fff !important;
}

.text-primary {
    color: #d2beec !important;
}
.text-red {
    color: #ff7676;
}

.text-red:hover {
    color: #ff7676;
}

.text-yellow {
    color: #ffc107;
}

.text-yellow:hover {
    color: #ffc107;
}

.text-green {
    color: #54e69d;
}

.text-green:hover {
    color: #54e69d;
}

.text-orange {
    color: #ffc36d;
}

.text-orange:hover {
    color: #ffc36d;
}

.text-violet {
    color: #796AEE;
}

.text-violet:hover {
    color: #796AEE;
}

.text-blue {
    color: #85b4f2;
}

.text-blue:hover {
    color: #85b4f2;
}

.text-gray {
    color: #999;
}

.text-gray:hover {
    color: #999;
}

.text-white {
    color: #fff;
}
.text-big {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
}

/*
* ==========================================================
*     POSITION
* ==========================================================
*/
.no-padding {
    padding: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.padding-small {
    padding: 100px 0;
}

/*
* ==========================================================
*     BUTTONS
* ==========================================================
*/
.btn-theme {
    background-color: var(--main-color) !important;
    border-color: var(--button-border-color) !important;
    color: #fff !important;
}
.btn-theme:hover {
    background-color: var(--button-border-color) !important;
    border-color: var(--main-color) !important;
    color: #fff !important;
}
button {
    cursor: pointer;
}

button, input {
    outline: none !important;
    font-family: "Open Sans", sans-serif;
}

/*
* ==========================================================
*     COMMONS
* ==========================================================
*/

/** HERO SECTION **/
section.hero .hero-header {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
section.hero.home .hero-header .full-identity {
    margin:0 25vw;
}
section.hero .hero-header .full-identity {
    color: #FFFFFF;
}
/** SCROLL LINK **/
.hero .continue{
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 5%;
    background-color: #222222;
    text-align: center;
    z-index: 6;
}
.hero .continue span {
    color: #FFFFFF;
    font-size: 30px;
    padding-right: 2px;
    padding-top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    will-change: translate;
}

/** FILE INPUT */
.krajee-default .file-preview-other-frame {
    width: 100% !important;
}

/* ==========================================================
*     BLOCS
* ==========================================================
*/
.modal {
    padding:0 !important;
}
.modal-header {
    font-family: var(--main-font-family);
}
p.result-message,
p.result-modal-message {
    display: none;
    margin: 1rem 0 !important;
}
.errorPage hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

/* ==========================================================
*     MODAL
* ==========================================================
*/
.modal-header {
    background: var(--main-color);
}
.modal-title {
    color: white;
    font-weight: 500 !important;
}
#fr-connexion {

}

/* ==========================================================
*     MEDIA QUERIES
* ==========================================================
*/
@media (max-width: 767px) {
    .hero .continue {
        width: 100%;
        right: 0px;
    }
}

/*
EFFECTS
*/
@keyframes wiggle {
    0% {
        padding-top: 20px;
    }
    50% {
        padding-top: 28px;
    }

    100% {
        padding-top: 20px;
    }
}


@keyframes wiggle {
    0% {
        padding-top: 20px;
    }
    50% {
        padding-top: 28px;
        transform: translateY(8px);
    }

    100% {
        padding-top: 20px;
    }
}
