/* ==========================================================
*    INIT
* ==========================================================
*/
body {
    color: #797979;
    background: #eaeaea;
    font-family: var(--admin-font-family);
    padding: 0 !important;
    margin: 0 !important;
    font-size:0.8rem;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eff2f7;
}

.header, .footer {
    padding: 0 15px;
}

/* ==========================================================
*     COLORS
* ==========================================================
*/
.black-bg {
    background: #22242a;
}

/* ==========================================================
*     OVERLOAD BOOSTRAP
* ==========================================================
*/
.container {
    max-width:100% !important;
    padding:0 0 8vh 0;
    position: relative;
    min-height: 100vh;
}
.form-control {
    font-size:.8rem;
}
.btn {
    font-size:.8rem;
}
.btn-round {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
    padding: 15px;
}
/*badge*/
.badge {
    padding:.5em;
}
.badge.bg-primary {
    background: #8075c4;
}
.badge.bg-success {
    background: #a9d86e;
}
.badge.bg-warning {
    background: #FCB322;
}
.badge.bg-important {
    background: #ff6c60;
}
.badge.bg-info {
    background: #41cac0;
}
.badge.bg-inverse {
    background: #2A3542;
}

input.form-control {
    height:calc(2.25rem + 2px);
}
.input-group-text {
    font-size: 0.8rem;
    width: 100%;
}
.input-group-prepend-size {
    min-width:10%;
}
.form-panel {
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 3px 2px #aab2bd;
    text-align: left;
}
label.control-label{
    font-weight: 700;
    font-size: 1.2em;
   /* margin-right:5px;*/
    padding-left: 0;
}

.card-header label {
    font-weight: 700;
    font-size: 1.2em;
    padding: 0;
    margin:0;
}

/* ==========================================================
*     THEME
* ==========================================================
*/
.bg-theme {
    background-color: var(--main-color);
}
.badge-theme {
    color: #212529;
    background-color: var(--main-color);
}

.btn-theme {
    color: #fff;
    background-color: var(--button-bg-color);
    border-color: var(--button-border-color);
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-color: var(--button-border-color);
}
.btn-theme:hover,
.btn-theme:focus{
    background-color: var(--button-border-color);
}

/* ==========================================================
*     TYPOGRAPHY
* ==========================================================
*/
.legend {
    margin: 0 10px;
}
.legend h4{
    margin-top: 8px;
}

/* ==========================================================
*     HEADER
* ==========================================================
*/
.ctn-log > ul.nav > li > .logout {
    color: var(--button-text-color);
    font-size: 0.8rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid var(--button-border-color) !important;
    padding: 5px 15px;
    background: var(--main-color);
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

/*Connexion */
.header .ctn-log {
    margin: auto 0;
}

/*Logo*/
.header a.logo {
    font-size: 1.6rem;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}
.header a.logo b {
    font-weight: 900;
}
.header a.logo:hover,
.header a.logo:focus {
    text-decoration: none;
    outline: none;
}

.header a.logo span {
    color: var(--main-color);
}
.header .logo-admin img {
    width:100%;
}
.header  .logo-admin {
    width: 100px;
    display: inline-block;
}

/*Notification*/
.notify-row {
    float: left;
    margin-top: 5px;
    margin-left: 64px;
}
.notify-row .notification span.label {
    display: inline-block;
    height: 18px;
    width: 20px;
    padding: 5px;
}
.notify-row ul.top-menu > li > a {
    color: #666666;
    font-size: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #666666 !important;
    padding: 2px 6px;
}
.notify-row ul.top-menu > li > a.dropdown {
    margin-right: 1rem;
}
.notify-row ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
    border:1px solid #b6b6b6 !important;
    background-color: transparent !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #b6b6b6 !important;
}
.notify-row .badge {
    right: -10px;
    top: -10px;
    z-index: 100;
}
.notify-row ul.dropdown-menu .badge {
    padding:4px;
}
.notify-row a.dropdown .badge {
    position:absolute;
}
.notify-row .dropdown-menu.extended {
    max-width: 300px !important;
    min-width: 160px !important;
    top: 42px;
    width: 235px !important;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.notify-row .dropdown-menu.extended li p {
    background-color: #F1F2F7;
    color: #666666;
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.notify-row .dropdown-menu.extended li p.violet {
    background-color: var(--main-color);
    color: #fff;
}
.notify-row .dropdown-menu.extended li p.yellow {
    background-color: #fcb322;
    color: #fff;
}
.notify-row .dropdown-menu.extended li p.danger {
    background-color: #dc3545;
    color: #fff;
}
.notify-row .dropdown-menu.extended li a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 0.8rem;
    list-style: none;
    color: #333;
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}
.notify-row .dropdown-menu.extended li a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
}
.notify-row .dropdown-menu.tasks-bar .task-info .desc {
    font-size: 0.8rem;
    font-weight: normal;
}
.notify-row .dropdown-menu.tasks-bar .task-info .percent {
    display: inline-block;
    float: right;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 10px;
    margin-top: -4px;
}
.notify-row .dropdown-menu.extended .progress {
    margin-bottom: 0 !important;
    height: 10px;
}
.notify-row .dropdown-menu.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 4px;
    width: 40px;
}
.notify-row .dropdown-menu.inbox li a .subject {
    display: block;
}
.notify-row .dropdown-menu.inbox li a .subject .from {
    font-size: 0.8rem;
    font-weight: 600;
}
.notify-row .dropdown-menu.inbox li a .subject .time {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}
.notify-row .dropdown-menu.inbox li a .message {
    display: block !important;
    font-size: 0.75rem;
}

.dropdown-menu.extended.logout > li {
    float: left;
    text-align: center;
    width: 33.3%;
}
.dropdown-menu.extended.logout > li:last-child {
    float: left;
    text-align: center;
    width: 100%;
    background: #a9d96c;
    border-radius: 0 0 3px 3px;
}
.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
    color: #fff;
    border-bottom: none !important;
    text-transform: uppercase;
}
.dropdown-menu.extended.logout > li:last-child > a:hover > i{
    color: #fff;
}
.dropdown-menu.extended.logout > li > a {
    color: #a4abbb;
    border-bottom: none !important;
}
.full-width .dropdown-menu.extended.logout > li > a:hover {
    background: none !important;
    color: #50c8ea !important;
}
.dropdown-menu.extended.logout > li > a:hover {
    background: none !important;
}
.dropdown-menu.extended.logout > li > a:hover i {
    color: #50c8ea;
}
.dropdown-menu.extended.logout > li > a i {
    font-size: 1.2rem;
}
.dropdown-menu.extended.logout > li > a > i {
    display: block;
}
.notify-arrow {
    border-style: solid;
    border-width: 0 9px 9px;
    height: 0;
    position: absolute;
    left: 7px;
    top: -18px;
    transition: all 0.25s ease 0s;
    width: 0;
    z-index: 10;
    margin-top: 10px;
    opacity: 1;
}
.notify-arrow-yellow {
    border-color: #FCB322 transparent;
}
.notify-arrow-violet {
    border-color: var(--main-color) transparent;
}
.notify-arrow-danger {
    border-color: #dc3545 transparent;
}
/* ==========================================================
*     SIDEBAR
* ==========================================================
*/
#admin-aside {
     height: 100%;
     width: 210px;
     position: fixed;
     background: #2f323a;
     z-index: 1;
     margin-top: 6em;
 }
#admin-aside h5 {
    color: #f2f2f2;
    font-weight: 700;
}
#admin-aside .identity-user {
    margin-top:3rem;
}
#sidebar ul li {
    position: relative;
}
#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}
#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px;
}
.active .dcjq-icon {
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.nav-collapse.collapse {
    display: inline;
}
ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}
#sidebar > ul > li > ul.sub {
    display: none;
}
#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}
ul.sidebar-menu li ul.sub li{
    background: #2f323a;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
ul.sidebar-menu li ul.sub li a {
    font-size: 0.8rem;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}
ul.sidebar-menu li ul.sub li a:hover {
    color: white;
    background: transparent;
}
ul.sidebar-menu li ul.sub li.active a {
    color: var(--main-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}
ul.sidebar-menu li{
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}
ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}
ul.sidebar-menu li a span{
    display: inline-block;
}
ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 0.8rem;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.sidebar-menu li a:not(.nonActive).active, ul.sidebar-menu li a:not(.nonActive):hover,ul.sidebar-menu li a:not(.nonActive):focus {
    background: var(--main-color);
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.sidebar-menu li a i {
    font-size: 1rem;
    padding-right: 6px;
}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}
ul.sidebar-menu li a.active i {
    color: #fff;
}
/*--sidebar toggle---*/
.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 16px;
}
.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline;
    font-size: 1.2rem;
}
.sidebar-toggle-box .name-int {
    display: inline;
}
.sidebar-closed > #sidebar > ul {
    display: none;
}
.sidebar-closed #main-content {
    margin-left: 0;
}
.sidebar-closed #sidebar {
    margin-left: -180px;
}

/* ==========================================================
*     MAIN CONTENT
* ==========================================================
*/
#main-content {
    margin-left: 210px;
}
.wrapper {
    display: inline-block;
    margin-top: 100px;
    padding: 10px 15px 15px 15px;
    width: 100%;
}
.content-panel {
    background: #ffffff;
    box-shadow: 0 3px 2px #aab2bd;
    padding: 15px;
    font-size: 0.8rem;
}

/* ==========================================================
*     DASHBOARD
* ==========================================================
*/
/* Main Chart*/
.border-head h3 {
    border-bottom: 1px solid #c9cdd7;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    display: inline-block;
    width: 100%;
    font-weight: 300;
}
.custom-bar-chart {
    height: 290px;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
    border-bottom: 1px solid #c9cdd7;
}
.custom-bar-chart .bar {
    height: 100%;
    position: relative;
    width: 6%;
    margin: 0 4%;
    float: left;
    text-align: center;
    z-index: 10;
}
.custom-bar-chart .bar .title {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}
.custom-bar-chart .bar .value {
    position: absolute;
    bottom: 0;
    background: var(--main-color);
    color: var(--main-color);
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.custom-bar-chart .bar .value:hover {
    background: #2f2f2f;
    color: #fff;
}
.y-axis {
    color: #555555;
    position: absolute;
    text-align: left;
    width: 100%;
    font-size: 0.75rem;
}
.y-axis li {
    border-top: 1px dashed #dbdce0;
    display: block;
    height: 58px;
    width: 100%;
}
.y-axis li:last-child {
    border-top: none;
}
.y-axis li span {
    display: block;
    margin: -10px 0 0 -60px;
    width: 40px;
}

/* Line charts */
.chart {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.chart .heading {
    text-align: left;
}
.chart .heading span {
    display: block;
}
.panel.terques-chart {
    background: transparent;
    color: #797979;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Donut Charts*/
.donut-main {
    display: block;
    text-align: center;
}
.dgt-chart {
    width:75% !important;
    height:auto !important;
    margin:20px auto;
}
.donut-main h4 {
    font-weight: 700;
    font-size: 1.2rem;
}
.donut-chart p {
    font-weight: 700;
    margin-left: 15px;
}
.donut-chart h2 {
    font-weight: 900;
    color: #FF6B6B;
    font-size: 2.2rem;
}

/*Panels Conf*/
.pn {
    height: 275px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.pn .content {
    /*height: 12em;*/
}
.pn .footer-panel {
    margin: .25rem 0 0 0 !important;
}

/*Panels Type*/
.darkblue-panel {
    text-align: center;
    background: #444c57;
}
.darkblue-panel .darkblue-header {
    background: #2F323A;
    padding: 3px;
    margin-bottom: 15px;
}
.darkblue-panel h1 {
    color: #f2f2f2;
}
.darkblue-panel h5 {
    font-weight: 200;
    margin-top: 10px;
    color: white;
}
.darkblue-panel .stats-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

/*Pink Panel*/
.pink-panel {
    text-align: center;
    background: #EE568A;
}
.pink-panel .pink-header {
    background: #E91E63;
    padding: 3px;
    margin-bottom: 15px;
}
.pink-panel h5 {
    color: white;
    font-weight: 200;
    margin-top: 10px;
}
.pink-panel h3 {
    color: white;
    font-weight: 100;
}
.pink-panel p {
    color: white;
}

/*Green Panel*/
.green-panel {
    text-align: center;
    background: #4ECDC4;
}
.green-panel .green-header {
    background: #43b1a9;
    padding: 3px;
    margin-bottom: 15px;
}
.green-panel h5 {
    color: white;
    font-weight: 200;
    margin-top: 10px;
}
.green-panel h3 {
    color: white;
    font-weight: 100;
}
.green-panel p {
    color: white;
}

/*Grey Panel*/
.grey-panel {
    text-align: center;
    background: #dfdfe1;
}
.grey-panel .grey-header {
    background: #ccd1d9;
    padding: 3px;
    margin-bottom: 15px;
}
.grey-panel h5 {
    font-weight: 200;
    margin-top: 10px;
}
.grey-panel p {
    margin-left: 5px;
}
.grey-panel.user .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*White Panel */
.white-panel {
    text-align: center;
    background: #ffffff;
}
.white-panel .white-header {
    background: var(--main-color);
    color:#FFF;
    padding: 3px;
    margin-bottom: 15px;
}
.white-panel h5 {
    font-weight: 200;
    margin-top: 10px;
}
.white-panel .small {
    color: #ccd1d9;
}
.white-panel a {
    color: var(--main-color);
}

/* Weather panel */
.weather::after {
    content: "";
    opacity: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.weather.widget-weather {
    background-image: url(../../img/admin/dashboard/weather-station.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.weather.pn .content {
    height: 14em;
}
.weather i {
    color: white;
    margin-top: 45px;
}
.weather h2 {
    color: white;
    font-weight: 900;
    margin:0;
    padding:0;
}
.weather h3 {
    color: white;
    font-weight: 900;
    margin:0;
    padding:0;
}
.weather h4 {
    color: #FFF;
    font-weight: 900;
    letter-spacing: 1px;
}
.weather .full.month {
    display: inline-block;
}
.weather .abbr.month {
    display: none;
}

/*Yellow Panel*/
.yellow-panel {
    background: #FCF3CF;
    text-align: center;
}
.yellow-panel i {
    color: black;
}
.yellow-panel p {
    margin: 10px;
}
.yellow-panel .nb {
    color: black;
    font-weight: 900;
    font-size: 2rem;
    vertical-align: middle;
}
.yellow-panel .lib-nb {
    display: inline-flex;
    align-items: center;
}
.yellow-panel .yellow-header {
    background: #F7DC6F;
    padding: 3px;
    margin-bottom: 15px;
}
.yellow-panel h5 {
    color:#797979;
    font-weight: 200;
    margin-top: 10px;
}
.yellow-panel .btn {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/* Message Panel */
.message-p {
    background: #fff;
}
.message-p .message-header {
    background: #dcdfe3;
    padding: 3px;
    margin-bottom: 15px;
    text-align: center;
}
.message-p h5 {
    font-weight: 200;
    margin-top: 10px;
}
.message-p .message-none {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
}
.message-p .small {
    font-size: 0.8rem;
    color: #aab2bd;
    margin-top: -10px;
    padding:0;
}
.message-p .name {
    color: #ed5565;
    font-weight: 700;
}
.message-p .message {
    font-size: 0.8rem;
    margin-bottom: 0;
}

/* Instagram Panel*/
.instagram-panel {
    background-image: url(../../img/admin/dashboard/write.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    background-position: center top;
    color: white;
}
.instagram-panel .content {
    height: 14em;
}
.instagram-panel a{
    color: white;
}
.instagram-panel .instagram-header {
    background: #6E7E97;
    padding: 3px;
    margin-bottom: 15px;
}
.instagram-panel  h5 {
    font-weight: 200;
    margin-top: 10px;
}
.instagram-panel p {
    margin: 5px;
}
.instagram-panel .infos span {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 0.8em;
    margin-top: 2px;
}
.instagram-panel .avatar img{
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.instagram-panel .infos i {
    margin:7px 5px 7px 15px;
}

/* ==========================================================
*     CALENDAR
* ==========================================================
*/
#calendar {
    color: white;
    padding: 20px 0 0 0 !important;
    line-height: 1rem;
}
#calendar .calendar-month-header {
    background: #E91E63;

}
#calendar .calendar-month-header .calendar-month-header th{
    padding:8px !important;
}
div.zabuto_calendar .table tr.calendar-month-header th,
div.zabuto_calendar .table tr.calendar-dow td,
div.zabuto_calendar .table tr.calendar-dow-header th {
    padding: 0.5rem 0 0.5rem 0 !important;
}
div.zabuto_calendar div.legend {
    display: none;
}

/* ==========================================================
*     USERS EDIT
* ==========================================================
*/
.large.tooltip-inner {
    max-width: 350px;
    width: 350px;
}

/* Password Change */
.hidden {
    display: none;
}

/* Toggle button */
/*.has-switch {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    line-height: 1.231;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 120px;
    -webkit-mask: url('../../img/mask.png') 0 0 no-repeat;
    mask: url('../../img/mask.png') 0 0 no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.has-switch.deactivate {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default !important;
}
.has-switch.deactivate label,
.has-switch.deactivate span {
    cursor: default !important;
}
.has-switch > div {
    width: 162%;
    position: relative;
    top: 0;
}
.has-switch > div.switch-animate {
    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    -o-transition: left 0.25s ease-out;
    transition: left 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.has-switch > div.switch-off {
    left: -63%;
}
.has-switch > div.switch-off label {
    background-color: #7f8c9a;
    border-color: #bdc3c7;
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
}
.has-switch > div.switch-on {
    left: 0;
}
.has-switch > div.switch-on label {
    background-color: #EE568A;
}
.has-switch input[type=checkbox] {
    display: none;
}
.has-switch span {
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    float: left;
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.has-switch span.switch-left {
    border-radius: 30px 0 0 30px;
    background-color: #2A3542;
    color: #EE568A;
    border-left: 1px solid transparent;
}
.has-switch span.switch-right {
    border-radius: 0 30px 30px 0;
    background-color: #bdc3c7;
    color: #ffffff;
    text-indent: 7px;
}
.has-switch span.switch-right [class*="fui-"] {
    text-indent: 0;
}
.has-switch label {
    border: 4px solid #2A3542;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    float: left;
    height: 29px;
    margin: 0 -21px 0 -14px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 29px;
    z-index: 100;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.switch-square {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-mask: url('../../img/mask.png') 0 0 no-repeat;
    mask: url('../../img/mask.png') 0 0 no-repeat;
}
.switch-square > div.switch-off label {
    border-color: #7f8c9a;
    border-radius: 6px 0 0 6px;
}
.switch-square span.switch-left {
    border-radius: 6px 0 0 6px;
}
.switch-square span.switch-left [class*="fui-"] {
    text-indent: -10px;
}
.switch-square span.switch-right {
    border-radius: 0 6px 6px 0;
}
.switch-square span.switch-right [class*="fui-"] {
    text-indent: 5px;
}
.switch-square label {
    border-radius: 0 6px 6px 0;
    border-color: var(--main-color);
}*/
.card-body.profil-image {
    padding: 0.25rem;
}
/* ==========================================================
*     POST EDIT
* ==========================================================
*/
.inputGroup-sizing-default {
    width:100%;
}
.self-center  {
    align-self: center;
}
#chapo {
    display: block;
}
#postForm p {
    display: block;
}
.cke_dialog_ui_input_file {
    width: 100%;
    height: auto !important;
}

/* ==========================================================
*     LOGIN PAGE
* ==========================================================
*/
#container-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}
.form-login {
    max-width: 330px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.form-login .form-login-heading {
    margin: 0;
    padding: 5px 20px;
    text-align: center;
    background: var(--main-color);
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;

}
.form-login .form-login-heading img{
    width:100px;
}
.form-login .form-login-heading h2 {
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-top:.5rem;
}
.form-login .form-control {
    font-size: 0.8rem;
}
.form-login label.checkbox {
    margin: 20px;
}
.form-login input[type=checkbox] {
    vertical-align: middle;
}
.login-wrap {
    padding: 20px;
    font-size: 0.8rem;
}
.login-wrap .registration {
    text-align: center;
}

/* ==========================================================
*     FILE INPUT
* ==========================================================
*/
.img-indication {
    font-size:0.7rem;
    margin-top:0.5rem;
    text-align:center;
}
.fileupload {
    margin-bottom: 9px;
}
.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}
.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.fileupload .thumbnail > img {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}
.thumbnail-borderless .thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.file-preview {
    padding: 0.2rem !important;
}
.file-preview-frame {
    margin: 0 !important;
    width: 100%;
}
.file-drop-zone {
    padding: 0.2rem !important;
    margin: 0.2rem !important;
}
.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}
.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}

.krajee-default .file-caption-info,
.krajee-default .file-size-info {
    width:auto !important;
}

/* ==========================================================
*     STYLIZED CHECKBOX
* ==========================================================
*/
.stylized-form-check {
    padding-left:0;
}
.stylized-form-check .form-check-input {
    opacity: 0;
    position: absolute;
}
.stylized-form-check .form-check-label {
    position: relative;
    display: block;
    background: #f8f8f8;
    border: 1px solid #f0f0f0;
    border-radius: 1em;
    padding: .5em 1em .5em 5em;
    box-shadow: 0 1px 2px rgba(100, 100, 100, .5) inset, 0 0 10px rgba(100, 100, 100, .1) inset;
    cursor: pointer;
}
.stylized-form-check .form-check-label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: .7em;
    width: 3em;
    height: 1.2em;
    border-radius: .6em;
    background: #eee;
    transform: translateY(-50%);
    box-shadow: 0 1px 3px rgba(100,100,100,.5) inset,0 0 10px rgba(100,100,100,.2) inset;
}
.stylized-form-check .form-check-label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: .5em;
    width: 1.4em;
    height: 1.4em;
    border: .25em solid #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #ddd;
    background-image: linear-gradient(to top, #fff 0%, #fff 40%, transparent 100%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 3px 3px rgba(0,0,0,.5);
}
.stylized-form-check .form-check-label::before,
.stylized-form-check .form-check-label::after {
    transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1);
}
.stylized-form-check .form-check-label:hover, .form-check-input:focus + label {
    color: black;
}
.stylized-form-check .form-check-label::after,
.form-check-input:focus + label::after{
    background-color: #ccc;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.stylized-form-check .form-check-input:checked + label::before {
    background: var(--main-color);
    /*color:#FFF;*/
}
.stylized-form-check .form-check-input:checked + label::after {
    transform: translateX(2em) translateY(-50%);
    -webkit-transform: translateX(2em) translateY(-50%);
}

/* ==========================================================
*     DATATABLES
* ==========================================================
*/
table.responsive.table {
    border-spacing:0;
    width: 100% !important;
    border-width: 0;
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
#hidden-table-info-posts > thead > tr > th:nth-child(2) > input,
#hidden-table-info-posts > thead > tr > th:nth-child(3) > input{
    display: none;
}

/* Dash Side */
.ds {
    background: #d6d9dc;
    padding-top: 20px;
}
.ds h4 {
    font-size: 1rem;
    font-weight: 700;
}
.ds i {
    font-size: 1rem;
}
.ds .desc {
    border-bottom: 1px dotted #979797;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}
.ds .desc:hover {
    background: #ffffff;
}
.ds .thumb {
    width: 30px;
    display: block;
    float: left;
}
.desc .badge {
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    border-radius: 1.25rem;
}
.ds .details {
    float: left;
}
.ds > .desc p {
    font-size: 0.75rem;
}
.ds > .desc a {
    font-size: 0.75rem;
    color: #666666;
}
.ds p.muted {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-style: italic;
    color: #666666
}
.ds a {
    color: var(--main-color);
}

/* Pagination*/
.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-top: -8px;
}
.dataTables_paginate,
.dataTables_length{
    padding: 15px 0;
}
.dataTables_paginate.paging_bootstrap.pagination li {
    float: left;
    margin: 0 1px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.dataTables_paginate.paging_bootstrap.pagination ul li {
    list-style: none;
}
.dataTables_paginate.paging_bootstrap.pagination li a {
    color: #797979;
    padding: 5px 10px;
    display: inline-block;
}
.dataTables_paginate.paging_bootstrap.pagination li:hover a,
.dataTables_paginate.paging_bootstrap.pagination li.active a {
    color: #fff;
    background: var(--main-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

table.dataTable tr.responsive-infos,
table.dataTable tr.responsive-infos td{
    border: 0;
    padding: 0;
    background:none;
}

/* ==========================================================
*     TAGS
* ==========================================================
*/
#tags {
    padding:0;
}
.selectivity-multiple-input-container {
    border: none;
    background-color:#fff !important;
}
.add-tag {
    margin-left: 0.5rem;
    line-height: 1.7rem;
}

/* ==========================================================
*     RESUME PAGE
* ==========================================================
*/
#resumeForm{
    margin: 0 auto;
    background: #ddd;
    padding: 20px;
}
#json-input{
    width:100%;
    display: block;
    padding: 10px;
    margin-bottom:10px;
    min-height:300px;
    max-height:500px;
    height: auto;
    resize: none;
}
#json-input:focus {
    outline: 0;
    background: #ddd;
}
pre#json-renderer {
    border: 1px solid #aaa;
    padding: 0.5em 1.5em;
    background-color: #fafafa;
    margin: 10px 0;
    display:none;
    max-height: 70vh;
}
#resume-panel .button-bar {
    margin:30px 0 10px 0;
}
#resume-panel .error {
    font-size: 1rem;
    color: red;
    font-weight: 700;
    padding:5px 0 25px 0;
}
#resume-panel .form-check {
    margin-top: 0.5rem;
    margin-left:15px;
    font-size: 1rem;
    display:inline-block;
}
#resume-panel .form-check-label {
    font-weight: bolder;
}


/* ==========================================================
*     FOOTER
* ==========================================================
*/
.site-footer {
    background: var(--main-color);
    color: #fff;
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}
.site-footer p {
    margin-bottom: 5px;
}
.site-footer .logo-footer {
    margin-left:215px;
}

/* GO TO TOP */
.go-top-arrow {
    margin-right: 2%;
}
.go-top {
    background: rgba(255, 255, 255, .5);
    padding: 5px 12px;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 50%;
}
a.go-top {
    color: #000;
}

/* ==========================================================
*     DEBUG
* ==========================================================
*/
.trace {
    white-space: pre-wrap;
    text-align: left;
}
.p404 img {
    margin-top: 120px;
}
.p404 h1 {
    font-weight: 900;
}


/* ==========================================================
*     EFFECTS
* ==========================================================
*/
@-webkit-keyframes animate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
