@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .dropdown-menu.extended  {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    }
}


@media (min-width: 1200px) {

    .message-p .identity,
    .white-panel .identity{
        margin-bottom:0;
    }
    .custom-bar-chart {
        margin-bottom: 40px;
    }
    .message-p .message {
        max-height: 5em;
        overflow-y: hidden;
    }
    .weather .full.month {
        display: inline-block;
    }
    .weather .abbr.month {
        display: none;
    }
}
@media (max-width: 1199px) {
    .pn h1{
        font-size:  2em;
    }
    .header a.logo {
        margin-top: 5px;
    }
    .header .logo-admin img {
        width: 50px;
    }
    .message-p .icon {
        display: none;
    }
    .darkblue-panel h1 i.fas {
        display:none;
    }
    #calendar .panel-body {
        padding: 2px;
    }
    #calendar .calendar-dow-header {
        display:none;
    }
    .weather-geo .day,
    .weather-geo .month,
    .weather-geo .year,
    .weather-geo {
        margin-left:0;
    }
    .site-footer .logo-footer {
        margin-left:1%;
    }
    .site-footer .logo-footer img {
        width: 50px;
    }
    .message-p .message {
        max-height: 5em;
        overflow-y: hidden;
    }
    #main-content {
        margin-left: 0px!important;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
    .form-horizontal .control-label.text-right{
        text-align: right !important;
    }
    .custom-bar-chart {
        margin-bottom: 40px;
    }
    #admin-aside .identity-user {
        display: none;
    }
    .sidebar-toggle-box {
        margin-top: 5px;
    }
    /*sidebar*/
    #admin-aside {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
        margin: 0px !important;
    }

    ul.sidebar-menu {
        margin-top: 95px;
    }
    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    #sidebar > ul > li > a i{
        /*display: none !important;*/
    }
    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }

    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }

    #sidebar .btn-navbar.collapsed .arrow {
        display: none;
    }

    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }

    .card-body.image {
        padding:0;
    }
}


@media (max-width: 767px) {
    .weather .full.month {
        display: none;
    }
    .weather .abbr.month {
        display: inline-block;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center !important;
    }
    .header {
        position: absolute;
    }

    .header a.logo {
        display: none;
    }

    .message-p .message {
        max-height: 5em;
        overflow-y: hidden;
    }
    /* body container */
    #main-content {
        margin-left: 0px!important;
    }


    .modal-footer .btn {
        margin-bottom: 0px !important;
    }
    .custom-bar-chart {
        margin-bottom: 40px;
    }

    .calendar {
        margin-bottom: 20px;
    }
    /*menu icon plus minus*/
    .dcjq-icon {
        top: 10px;
    }
    ul.sidebar-menu li ul.sub li a {
        padding: 0;
    }
    .img-responsive {
        width: 100%;
    }
    .go-top {
        line-height: 1;
        width: 20px;
        height: 20px;
        font-size: 0.8rem;
    }
    .dgt-chart {
        width: 40% !important;
    }

}


@media (max-width: 480px) {

    .notify-row, .search, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn, .logo-admin{
        display: none;
    }

    .header .top-menu {
        justify-content: flex-end;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .chart-position {
       margin-top: 0px;
     }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ccc;
        border-color:#ccc ;
    }
}


@media (max-width:360px) {
    .login-social-link a {
        padding: 15px 17px !important;
    }

    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .hidden-phone {
        display: none !important;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .chart-position {
        margin-top: 0px;
    }

    .cmt-form {
        display: inline-block;
        width: 75%;
    }
    .krajee-default.file-preview-frame:not([data-template="audio"]) .kv-file-content {
        width: 100% !important;
    }
}
