{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/zabuto-calendar/zabuto-calendar.css">
{% endblock %}

{% block main %}
    <section id="main-content">
        <section class="wrapper">
            <div class="row">

                <!-- MAIN BLOCK -->
                <div class="col-lg-9 main-chart">

                    {% include "admin/blocs/dashboard/custom-bar-chart-col-4.html.twig" %}

                    <div class="row mt-3">
                        {% include "admin/blocs/dashboard/edito-stats-col-4.html.twig" %}
                        {% include "admin/blocs/dashboard/best-commentator-col-4.html.twig" %}
                        {% include "admin/blocs/dashboard/nb-users-col-4.html.twig" %}
                        {% include "admin/blocs/dashboard/comments-months-col-4.html.twig" %}
                        {% include "admin/blocs/dashboard/direct-messages-col-8.html.twig" %}
                        {% include "admin/blocs/dashboard/daily-weather-col-4.html.twig" %}
                        {% include "admin/blocs/dashboard/comments-col-4.html.twig" %}
                        {% include "admin/blocs/dashboard/popularity-col-4.html.twig" %}
                    </div>

                </div>

                <!-- RIGHT SIDEBAR CONTENT -->
                {% include "admin/blocs/dashboard/right-panel.html.twig" %}
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <!-- Librairies -->
    <script src="{{ constant('ASSETS_PATH') }}lib/chart-master/Chart.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/zabuto-calendar/zabuto-calendar.js"></script>

    <!-- Specific -->
    <script src="{{ constant('ASSETS_PATH') }}js/admin/dashboard-scripts.js"></script>
{% endblock %}