{% extends "admin/base-admin.html.twig" %}

{% block main %}
<div id="login-page">

    <form class="form-login" id="form-login" action="{{ constant('SERVER_BASE') }}admin/login" method="post" novalidate>
        <input type="hidden" id="origin" name="origin" value="{% if 'admin' in sUrl %}admin{% else %}front{% endif %}" aria-hidden="true">
        <input type="hidden" id="url" name="url" value="{{ sUrl }}" aria-hidden="true">
        <div class="form-login-heading">
            <img src="{{ constant('ASSETS_PATH') }}img/logo_150.png" alt="aBBlog Logo">
            <h2>Interface administrateur</h2>
        </div>
        <div class="login-wrap">
            <p class="result-message alert"></p>
            <input type="text" id="email"  name="email" class="form-control" placeholder="Email" autofocus><br>
            <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe">
            <label class="checkbox">
                <input type="checkbox" id="remember"  name="remember" value="1"> Se souvenir de moi
            </label>
            <button class="btn btn-theme btn-block" id="login-form-btn">
                <i class="fa fa-lock"></i> Connexion
            </button>
            <hr>
            <div class="registration">
                <a id="forgotPassBtn" data-toggle="modal" data-org="modal" href="#forgot-pass"> Mot de passe oublié ?</a>
            </div>
        </div>
    </form>

    <!-- Modal forgott password -->
    {% include "admin/blocs/modal-password.html.twig" %}

</div>
{% endblock %}

{% block js %}
<script src="{{ constant('ASSETS_PATH') }}lib/jquery.backstretch.min.js"></script>
<script >
    $.backstretch("{{ constant('ASSETS_PATH') }}img/admin/dashboard.png", {
        speed: 500
    });
</script>
{% endblock %}