{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.css" />
{% endblock %}

{% block main %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fas fa-pencil-alt"></i> {{ title }}</h3>
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="content-panel">
                    <h4 class="mb-3"><i class="fas fa-edit"></i> {{ subTitle }}</h4>
                    <hr>
                    {% if message is not null %}
                        <div class="alert alert-{{ message|split('|')[1] }}">
                            <b>{{ message|split('|')[0] }}</b>
                        </div>
                    {% endif %}
                    <form class="cmxform form-horizontal style-form" id="catForm" name="catForm" method="post" action="{{ constant('SERVER_BASE') }}admin/blog/cat/save" role="form" novalidate>
                        <input id="id" name="id" type="hidden" value="{% if category.categoryId != null %}{{ category.categoryId }}{% endif %}" aria-hidden="true">
                        <input id="idUser" name="idUser" type="hidden" value="{{ currentUserId }}" aria-hidden="true">

                        <p class="result-message alert"></p>

                        <div class="form-row form-group">

                            <!-- CATEGORIE PARENTE -->
                            <div class="input-group col-xl-4 col-md-6 mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="parent-category">Catégorie parente</label>
                                </div>
                                <select id="parent-category" name="parent-category" class="form-control" {% if role != constant('ID_ADMIN') %}readonly disabled {% endif %}>
                                        <option value="">--</option>
                                        {% for cat in categories %}
                                            {% if cat.CategoryIdParent is null %}
                                                <option value="{{ cat.categoryId }}" {% if category.CategoryIdParent == cat.categoryId%} selected="selected" {% endif %}>
                                                    {{ cat.name }}
                                                </option>
                                            {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- AUTEUR -->
                            <div class="input-group col-xl-4 col-md-6 mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Auteur</span>
                                </div>
                                <select id="editor-list" name="editor-list" class="form-control" {% if role != constant('ID_ADMIN') %}readonly disabled {% endif %}>
                                    {% for editor in editors %}
                                        <option value="{{ editor.userId }}" {% if post.userId == editor.userId %}selected="selected" {% endif %}>
                                            {{ editor.fullname }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- TITLE -->
                            <div class="input-group col-xl-4 col-md-12 mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Titre *</span>
                                </div>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Entre 2 et 150 caractères" minlength="2" value="{{ category.name }}" required />
                            </div>
                        </div>

                        <div class="form-row form-group m-2">
                            <div class="col-12 d-flex flex-wrap justify-content-xl-start justify-content-center">

                                <!-- ACTIVE -->
                                <div class="button-checkbox m-2">
                                    <button type="button" class="btn btn-lg" data-color="success" data-color-off="warning" data-text-on="Rubrique Active" data-text-off="Rubrique Inactive">
                                        <span class="btn-label">Rubrique Active</span>
                                    </button>
                                    <input type="checkbox" id="isActive" name="isActive" class="hidden" {% if category.isActive %}checked{% endif %} />
                                </div>

                                <!-- PRIVATE -->
                                {% if role == constant('ID_ADMIN') %}
                                    <div class="button-checkbox m-2">
                                        <button type="button" class="btn btn-lg" data-color="default" data-color-on="dark" data-color-off="info" data-text-on="Rubrique privée" data-text-off="Rubrique publique">
                                            <span class="btn-label">Rubrique privée</span>
                                        </button>
                                        <input type="checkbox" id="isPrivate" name="isPrivate" class="hidden" {% if category.isPrivate %}checked{% endif %} />
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                        <div class="form-row form-group m-4">
                            <div class="col-12 d-flex flex-nowrap justify-content-center">
                                <button class="btn btn-theme m-2" id="save-cat" type="submit">Enregistrer</button>
                                <a class="btn btn-danger m-2" href="{{ constant('SERVER_BASE') }}admin/blog/cat" role="button">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block js %}
    <script >

        $(document).ready(function() {

            //Submit form
            $("#save-cat").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                updateElement($("#catForm"));
                return false;
            });

            stylizeCheckbox();
        });

    </script>

{% endblock %}