{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.css" />
{% endblock %}

{% block main %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fas fa-pencil-alt"></i> {{ title }}</h3>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <div class="content-panel">
                        <h4 class="mb-3"><i class="fas fa-edit"></i> {{ subTitle }}</h4>
                        <hr>

                        <form class="form-horizontal style-form" id="tagForm" name="tagForm" method="post" action="{{ constant('SERVER_BASE') }}admin/blog/tags/save" role="form" novalidate>
                            <input id="id" name="id" type="hidden" value="{% if tag.tagId != null %}{{ tag.tagId }}{% endif %}" aria-hidden="true">
                            <input id="idUser" name="idUser" type="hidden" value="{{ currentUserId }}" aria-hidden="true" aria-hidden="true">

                            <p class="result-message alert"></p>

                            <div class="form-row">

                                <!-- LIBELLE -->
                                <div class="input-group col-xl-6 col-md-6 mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="libelle">Libelle *</label>
                                    </div>
                                    <input class="form-control" id="libelle" name="libelle" placeholder="Libellé" minlength="2" type="text" value="{{ tag.name|title }}" />
                                </div>

                                <!-- AUTEUR -->
                                <div class="input-group col-xl-6 col-md-6 mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="editor-list">Auteur</label>
                                    </div>
                                    <select id="editor-list" name="editor-list" class="form-control" {% if role != constant('ID_ADMIN') %}readonly disabled {% endif %}>
                                        <option>Sélectionnez un éditeur</option>
                                        {% for editor in editors %}
                                            <option value="{{ editor.userId }}" {% if tag.user.userid == editor.userId %}selected="selected" {% endif %}>
                                                {{ editor.fullname }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="row no-gutters p-0 mb-3">
                                <div class="col-12">
                                    <div class="form-group text-xl-left text-center">
                                        <button class="btn btn-theme" id="save-tag" type="submit">Enregistrer</button>
                                        <a class="btn btn-secondary" href="{{ constant('SERVER_BASE') }}admin/blog/tags/add">Nouveau Tag</a>
                                        <a class="btn btn-danger" href="{{ constant('SERVER_BASE') }}admin/blog/tags" role="button">Annuler</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- POSTS LISTS -->
                        {% if tag.posts|length %}
                            <div class="row mt-3">
                                <div class="col-md-12 mt-3">
                                    <h5>Articles taggés</h5>
                                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped" id="hidden-table-info-tags-posts">
                                        <thead>
                                        <tr>
                                            <th class='hidden-phone'>#</th>
                                            <th><i class="fas fa-external-link-square-alt"></i> Titre</th>
                                            <th><i class="fas fa-book"></i> Catégorie</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for post in tag.posts %}
                                            <tr>
                                                <td class='hidden-phone'>{{ post.postId }}</td>
                                                <td><a href="{{ constant('SERVER_BASE') }}admin/blog/posts/{{ post.postid }}/edit">{{ post.title }}</a></td>
                                                <td>
                                                    {% for category in post.categories %}
                                                        {{ category.name }}
                                                        {% if not loop.last %}<br /> {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script >

        $(document).ready(function() {
            //Submit form
            $("#save-tag").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                updateElement($("#tagForm"));
                return false;
            });
        });

    </script>

{% endblock %}