{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/selectivity/selectivity-jquery.css"> <!-- TAGS -->
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/css/fileinput.css" media="all" /> <!-- FILE UPLOAD -->
{% endblock %}

{% block main %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fas fa-pencil-alt"></i> {{ title }}</h3>
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="content-panel">
                    <h4 class="mb-3"><i class="fas fa-edit"></i> {{ subTitle }} </h4>
                    <hr>
                    <form class="form-horizontal style-form" id="postForm" name="postForm" method="post" action="{{ constant('SERVER_BASE') }}admin/blog/posts/save" enctype="multipart/form-data" role="form" novalidate>
                        <input id="id" name="id" type="hidden" value="{% if post.postId != null %}{{ post.postId }}{% endif %}" aria-hidden="true">
                        <input id="idUser" name="idUser" type="hidden" value="{{ currentUserId }}" aria-hidden="true">
                        <input id="tags-ids" name="tags-ids" type="hidden" value="" aria-hidden="true">
                        <input id="img-changed" name="img-changed" type="hidden" value="0" aria-hidden="true">

                        <p class="result-message alert"></p>

                        <div class="form-row form-group">

                            <!-- TITLE -->
                            <div class="col-md-9">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Titre *</span>
                                    </div>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Entre 2 et 150 caractères" minlength="2" value="{{ post.title }}" required />
                                </div>

                                <!-- CHAPO -->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Chapo</span>
                                    </div>
                                    <textarea class="form-control" id="chapo" name="chapo" rows="3" maxlength="500" placeholder="255 caractères maximum">{{ post.chapo }}</textarea>
                                </div>
                                <p class="small mb-3">500 caractères maximum</p>

                                <!-- CONTENT -->
                                <div class="form-group input-group-sm mb-3">
                                    <label for="content" class="control-label col-lg-2">Article *</label>
                                    <textarea class="form-control" id="content" name="content" rows="150" required>{{ post.content }}</textarea>
                                </div>

                                <div class="form-row">
                                    <!-- AUTHOR -->
                                    <div class="input-group col-xl-6 col-md-6 mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Auteur</span>
                                        </div>
                                        <select id="editor-list" name="editor-list" class="form-control" {% if role != constant('ID_ADMIN') %}readonly disabled {% endif %}>
                                            {% for editor in editors %}
                                                <option value="{{ editor.userId }}" {% if post.user.userId == editor.userId %}selected="selected" {% elseif currentUserId == editor.userId %}selected="selected"{% endif %}>
                                                    {{ editor.firstname }} {{ editor.lastname }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!-- PUBLISH DATE -->
                                    <div class="input-group col-xl-6 col-md-6 mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Date de publication *</span>
                                        </div>
                                        <input type="text" id="datepubli" name="datepubli" class="form-control" placeholder="dd/mm/yyyy" data-date="{{ post.datePublish|date("d/m/Y") }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text open-datetimepicker"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <!-- TAGS -->
                                    <div class="input-group col-12 mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">Tags</span>
                                        </div>
                                        <div id="tags" class="form-control tags-container">
                                            <div class="selectivity-multiple-input-container"></div>
                                        </div>
                                        <a href="{{ constant('SERVER_BASE') }}admin/blog/tags/add" class="add-tag btn btn-theme">+</a>
                                    </div>
                                </div>
                            </div>

                            <!-- ASIDE -->
                            <div class="col-md-3 col-12">

                                <!-- STATE -->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <label>Statut</label>
                                    </div>
                                    <div class="card-body">
                                        <div class="row m-1 d-flex flex-wrap justify-content-lg-between justify-content-center align-items-center">

                                            <!-- ONLINE -->
                                            <div class="button-checkbox m-1">
                                                <button type="button" class="btn btn-lg" data-color="success" data-color-off="warning" data-text-on="En ligne" data-text-off="Hors Ligne">
                                                    <span class="btn-label"></span>
                                                </button>
                                                <input type="checkbox" id="state" name="state" class="hidden" {% if post.active %}checked{% endif %} />
                                            </div>

                                            <!-- HIGHLIGHT -->
                                            <div class="button-checkbox m-1">
                                                <button type="button" class="btn btn-lg" data-color="info" data-color-off="light" data-text-on="A la une" data-text-off="Normal">
                                                    <span class="btn-label"></span>
                                                </button>
                                                <input type="checkbox" id="highlight" name="highlight" class="hidden" {% if post.IsHighlighted %}checked{% endif %} />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- CATEGORIES LIST -->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-xl-6 col-12 text-lg-left text-center self-center">
                                                <label>Catégories *</label>
                                            </div>
                                            <div class="col-xl-6 col-12 text-lg-right text-center">
                                                {% if role is same as (constant('ID_ADMIN')) %}
                                                    <a href="{{ constant('SERVER_BASE') }}admin/blog/cat/add" title="Ajouter une catégorie" class="btn btn-theme">+</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                {% for cat in categories %}
                                                    {% if cat.categoryIdParent is null %}
                                                        <div class="row mt-2"><b>{{ cat.name }}</b></div>
                                                    {%  endif %}
                                                    {% if role == constant('ID_ADMIN') %}
                                                        {% for child in categories %}
                                                            {% if cat.categoryId == child.categoryIdParent and child.isActive %}
                                                                <div class="form-check pl-lg-5 pl-2 pt-0">
                                                                    <input class="form-check-input position-static"
                                                                           type="checkbox"
                                                                           id="cat_{{ child.categoryid }}"
                                                                           name="categories[]"
                                                                           value="{{ child.categoryid }}"
                                                                            {% for category in post.categories %}
                                                                                {% if category.categoryId == child.categoryid %} checked {% endif %}
                                                                            {% endfor %}
                                                                    >
                                                                    <label class="form-check-label" for="cat_{{ child.categoryId }}">{{ child.name }}</label>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {% if cat.isActive %}
                                                            <div class="form-check pl-5 pt-0">
                                                                <input class="form-check-input position-static"
                                                                       type="checkbox"
                                                                       id="cat_{{ cat.categoryid }}"
                                                                       name="categories[]"
                                                                       value="{{ cat.categoryid }}"
                                                                        {% for category in post.categories %}
                                                                            {% if category.categoryId == cat.categoryid %} checked {% endif %}
                                                                        {% endfor %}
                                                                >
                                                                <label class="form-check-label" for="cat_{{ cat.categoryId }}">{{ cat.name }}</label>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-3">
                                    <div class="card-header">
                                        <label class="control-label">Image principale</label>
                                    </div>
                                    <div class="card-body image">
                                        <div class="file-loading" data-image="{{ post.imageFile }}">
                                            <input type="file" id="image" name="image[]" data-browse-on-zone-click="true" data-show-upload="false">
                                        </div>
                                        <p class="alert alert-warning img-indication">
                                            jpg, png, gif | max. 4 Mo | 80px <i class="fas fa-chevron-right"></i> Taille <i class="fas fa-chevron-left"></i> {{ constant('MAX_WIDTH_IMG') }}px
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row no-gutters p-0 mb-3">
                            <div class="col-12">
                                <div class="form-group text-xl-left text-center">
                                    <button class="btn btn-theme" id="save-post" type="submit">Enregistrer</button>
                                    <a class="btn btn-danger" href="{{ constant('SERVER_BASE') }}admin/blog/posts" role="button">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block js %}

    <!-- LIBRAIRIES -->
    <script src="{{ constant('ASSETS_PATH') }}lib/selectivity/selectivity-jquery.js"></script>  <!-- TAGS -->

    <!-- CKEDITOR -->
    <script src="{{ constant('ASSETS_PATH') }}lib/ckeditor-4.13.0/ckeditor.js"></script>

    <!-- DATEPICKER -->
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>

     <!-- FILE UPLOAD -->
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script >
        CKEDITOR.timestamp = Math.random().toString(36).substring( 0, 5 );

        //Upload image
        var imagePost = [];
        {% if post.postid is not null %}
        var imageFile = $('.file-loading').data('image');

        if (imageFile.length) {
            imagePost = {
                'url' : uploadPath + "images/blog/m_{{ post.imageFile }}",
                'idarticle' : {{ post.postid }},
                'namefile' : "{{ post.imageFile }}",
                'size' : "{{ filesize }}"
            };
        }
        {% endif %}

        //Tags
        var data = {{ allTags|json_encode() }};
        var aValues = {{ tagsSelected|json_encode() }};

        $(document).ready(function() {

            initFormPost();
            stylizeCheckbox();

            //Submit form
            $("#postForm").submit(function(e){
                e.preventDefault();
                e.stopPropagation();

                const oFormData = new FormData(this);
                oFormData.append('content', CKEDITOR.instances['content'].getData());

                saveWithFile($(this),oFormData);
                return false;
            });

        });
    </script>
{% endblock %}