{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link href="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/css/fileinput.css" media="all" rel="stylesheet" type="text/css" /> <!-- FILE UPLOAD -->
{% endblock %}


{% block main %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fas fa-cogs"></i> {{ title }}</h3>
        <div class="row mt-3">
            <div class="col-md-12 mt-3">
                <div class="content-panel">
                    <h4><i class="fas fa-edit"></i> {{ subTitle }}</h4>
                    <hr>

                    <form class="cmxform form-horizontal" id="userForm" name="userForm" method="post" action="{{ constant('SERVER_BASE') }}admin/config/users/save" enctype="multipart/form-data" role="form" novalidate>
                        <input id="id" name="id" type="hidden" value="{% if user.userId != null %}{{ user.userId }}{% endif %}" aria-hidden="true">
                        <input id="img-changed" name="img-changed" type="hidden" value="0" aria-hidden="true">

                        <p class="result-message alert"></p>

                        <div class="form-row form-group">

                            <!-- INFORMATIONS -->
                            <div class="col-md-9">

                                <!-- IDENTITY -->
                                <div class="row">
                                    <div class="col-lg-6 col-12 mb-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend input-group-prepend-size">
                                                <span class="input-group-text">Nom *</span>
                                            </div>
                                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom" value="{{ user.lastname }}" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 mb-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend input-group-prepend-size">
                                                <span class="input-group-text">Prénom *</span>
                                            </div>
                                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom" value="{{ user.firstname }}" required>
                                        </div>
                                    </div>
                                </div>

                                <!-- ID -->
                                <div class="row">
                                    <div class="col-lg-6 col-12 mb-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend input-group-prepend-size">
                                                <span class="input-group-text">Email *</span>
                                            </div>
                                            <input type="email" class="form-control" id="useremail" name="useremail" placeholder="Renseigner un email" value="{{ user.email }}" required>
                                        </div>
                                    </div>

                                    <!-- ROLE -->
                                    <div class="col-lg-6 col-12 mb-3">
                                        {% if (user.userId is null) or (user.userId != currentUserId) %}
                                            <div class="input-group">
                                                <div class="input-group-prepend input-group-prepend-size">
                                                    <span class="input-group-text">Role *</span>
                                                </div>
                                                <select id="role-list" name="role-list" class="form-control" required>
                                                    <option value="">Sélectionnez un rôle...</option>

                                                    {% for role in roles %}
                                                        <option value="{{ role.roleId }}" {% if role.roleId == user.roleId %}selected="selected" {% endif %}>
                                                            {{ role.roleName }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">

                                    <!-- GEO CONSENT -->
                                    <div class="col-lg-6 col-12 mb-3">
                                        <div class="stylized-form-check">
                                            <input class="form-check-input" id="geo-consent" name="geo-consent" type="checkbox" value="1" {% if user.geoConsent %}checked{% endif %}>
                                            <label class="form-check-label" for="geo-consent">
                                                Consent à être géolocalisé via l'adresse IP
                                                <a data-toggle="tooltip" data-placement="right" title=" Dans le seul but de bénéficier de fonctionnalités additionnelles sur l'écran d'accueil de l'interface
                                            admin. Les données de géolocalisation ne seront en <b>AUCUN CAS</b> utilisée à des fins publicitaires ou commerciales.">
                                                    <i class="fas fa-question-circle"></i>
                                                </a>
                                            </label>
                                            <a href="{{ constant('SERVER_BASE') }}blog/article-1" target="_blank">En savoir plus sur la gestion des données personnelles</a>
                                        </div>
                                    </div>

                                    <!-- STATE -->
                                    {% if (user.userId is not null) and (user.userId != currentUserId) %}
                                        <div class="col-lg-6 col-12 mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend input-group-prepend-size">
                                                    <span class="input-group-text">Statut</span>
                                                </div>
                                                <div class="button-checkbox ml-1">
                                                    <button type="button" class="btn btn-lg" data-color="success" data-color-off="warning" data-text-on="Actif" data-text-off="Inactif">
                                                        <span class="btn-label"></span>
                                                    </button>
                                                    <input type="checkbox" id="isActive" name="isActive" class="hidden" {% if user.active %}checked{% endif %} />
                                                </div>
                                            </div>

                                        </div>
                                    {% endif %}

                                </div>

                                <!-- PASSWORD -->
                                <div class="row">

                                    <!-- BUTTON -->
                                    <div class="col-12 mb-3">
                                        {% if user.userId is not null %}
                                            {% set typeInput = "password" %}
                                            <button type="button" class="btn btn-secondary btn-sm" id="dspChangePass">Changer le mot de passe</button>
                                        {% else %}
                                            {% set typeInput = "text" %}
                                            <button type="button" class="btn btn-secondary btn-sm getNewPass" title="Générer un mot de passe aléatoire">
                                                <i class="fas fa-sync"></i> Générer un mot de passe
                                            </button>
                                        {% endif %}
                                    </div>

                                    <!-- FIRST INPUT PASSWORD -->
                                    <div class="col-lg-6 col-12 mb-3">
                                        <div class="input-group containPass {% if user.userId is not null %}hidden{% endif %}">
                                            <div class="input-group-prepend input-group-prepend-size">
                                                <span class="input-group-text">Mot de passe *</span>
                                            </div>
                                            <input type="{{ typeInput }}" class="form-control input-lg mr-1" id="userpassword" name="userpassword" placeholder="Choisir un mot de passe" rel="gp" data-size="12" data-character-set="a-z,A-Z,0-9" maxlength="50" >
                                            <div class="col-lg-12 p-0">
                                                <small class="text-">
                                                    Entre 6-20 caractères.
                                                    Au moins 1 chiffre, 1 lettre minuscule et 1 lettre majuscule.
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONFIRM INPUT PASSWORD -->
                                    <div class="col-lg-6 col-12 mb-3">
                                        {% if user.userId is not null %}
                                            <div class="input-group containPass {% if user.userId is not null %}hidden{% endif %}">
                                                <div class="input-group-prepend input-group-prepend-size">
                                                    <span class="input-group-text">Confirmation</span>
                                                </div>
                                                <input type="{{ typeInput }}" class="form-control" id="password-confirm" name="password-confirm" placeholder="Confirmer le mot de passe" maxlength="50" value="" required>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>


                            <!-- ASIDE -->
                            <div class="col-md-3 col-12">

                                <!-- IMAGE -->
                                <div class="card">
                                    <div class="card-header">
                                        <label class="control-label">Image de profil</label>
                                    </div>
                                    <div class="card-body profil-image">
                                        <div class="file-loading" data-image="{{ image_file }}">
                                            <input type="file" id="image" name="image[]" multiple="multiple" data-browse-on-zone-click="true">
                                        </div>
                                        <p class="alert alert-warning img-indication">
                                            jpg, png, gif | max. 4 Mo | 80px <i class="fas fa-chevron-right"></i> Taille <i class="fas fa-chevron-left"></i> {{ constant('MAX_WIDTH_IMG') }}px
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- BUTTONS -->
                        <div class="row no-gutters p-0 mb-3">
                            <div class="col-12">
                                <div class="form-group text-xl-left text-center">
                                    <button class="btn btn-theme" id="save-user" type="submit">Enregistrer</button>
                                    <a class="btn btn-danger" href="{{ constant('SERVER_BASE') }}admin/config/users" role="button">Annuler</a>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block js %}

    <!-- FILE UPLOAD -->
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script >

        //Upload image
        var imageProfile = [];

        {% if user.userid is not null %}
            var imageFile = $('.file-loading').data('image');
            console.log(imageFile);
            if (imageFile.length) {
                imageProfile = {
                    'url' : uploadPath + "images/admin/profile/{{ image_file }}",
                    'iduser' : {{ user.userid }},
                    'namefile' : "{{ user.image }}",
                    'size' : "{{ filesize }}"
                };
            }
        {% endif %}

        $(document).ready(function() {

            initFormUser();
            stylizeCheckbox();

            //Submit form
            $("#save-user").click(function(e){
                e.preventDefault();
                saveUser($("#userForm"),'ad');
                return false;
            });
        });
    </script>
{% endblock %}