{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/json-browse/jquery.json-browse.css">
    <link href="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/css/fileinput.css" media="all" rel="stylesheet" type="text/css" /> <!-- FILE UPLOAD -->
{% endblock %}

{% block main %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fas fa-briefcase"></i> {{ title }}</h3>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <div id="resume-panel" class="content-panel">
                        <h4><i class="fas fa-edit"></i> {{ subTitle }}</h4>
                        <hr>

                        <p class="result-message alert"></p>
                        <form class="form-horizontal style-form" id="resumeForm" name="resumeForm" method="post" action="{{ constant('SERVER_BASE') }}admin/resume/save" enctype="multipart/form-data" role="form" novalidate>
                            <input id="file-changed" name="file-changed" type="hidden" value="0" aria-hidden="true">
                            <input id="file-name" name="file-name" type="hidden" value="{{ file }}" aria-hidden="true">

                            <div class="form-row">

                                <!-- CV File -->
                                <div class="col-md-2 col-12 mb-3">
                                    <h4>Version PDF du CV *</h4>
                                    <div class="file-loading" data-image="{{ name_file }}">
                                        <input type="file" id="file" name="file[]" data-browse-on-zone-click="true">
                                    </div>
                                    <span class="label label-warning">ATTENTION !</span>
                                    <span>Fichier PDF | max. 2 Mo</span><br />

                                </div>

                                <!-- JSON Editor -->
                                <div class="col-md-9 col-12 offset-md-1">
                                    <h4>Edition au format JSON *</h4>
                                    <textarea id="json-input" class="form-control mt-3" autocomplete="off" rows="5">{{ data }}</textarea>
                                    <div class="form-row">
                                        <div class="col-6 text-right self-center">
                                            <input type="checkbox" class="form-check-input"  id="checkbox-collapsed">
                                            <label class="form-check-label" for="checkbox-collapsed">Collapser les noeuds</label>
                                        </div>
                                        <div class="col-6">
                                            <button id="btn-json-browse" type="button" class="btn btn-secondary">Visualiser</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- RENDERER -->
                            <div class="form-row">
                                <pre id="json-renderer" class="json-body"></pre>
                            </div>

                            <div class="row no-gutters p-0 mb-3">
                                <div class="col-12">
                                    <div class="button-bar text-xl-left text-center">
                                        <button id="save-resume-btn" class="btn btn-theme btn-lg" type="submit">Enregistrer</button>
                                        <a id="btn-json-cancel" class="btn btn-danger btn-lg" href="{{ constant('SERVER_BASE') }}admin/resume" role="button">Annuler</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <!-- Librairies -->
    <script src="{{ constant('ASSETS_PATH') }}lib/json-browse/jquery.json-browse.js"></script>

    <!-- FILE UPLOAD -->
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="{{ constant('ASSETS_PATH') }}js/admin/resume-scripts.js"></script>
    <script >

        //File
        let cvFile = [];
        const contentFile = $('.file-loading').data('image');
        if (contentFile.length) {
            cvFile = {
                'url' : "{{ file }}",
                'filesize' : "{{ filesize }}"
            };
        }

        //JSON
        let input = {{ data|json_encode() }};

        $(document).ready(function() {

            //File Upload
            initFileZone();

            $('#btn-json-browse').clickToggle(function() {
                visualizeJson();
            }, function() {
                $('#json-renderer').empty().hide();
            });

            $('#btn-json-cancel').click(function() {
                $("#json-input").val(input);
                $(".error").empty();
            });

            //Submit form
            $("#save-resume-btn").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                saveResume($("#resumeForm"),$("#file"));
                return false;
            });
        });

    </script>
{% endblock %}