{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.css" />
{% endblock %}

{% block main %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fas fa-cogs"></i> {{ title }}</h3>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <div class="content-panel">
                        <h4 class="mb-3"><i class="fas fa-users"></i> {{ subTitle }}</h4>
                        {% if role is same as (constant('ID_ADMIN')) %}
                            <a href="{{ constant('SERVER_BASE') }}admin/config/users/add" class="btn btn-theme">Ajouter un utilisateur</a>
                        {% endif %}
                        <hr>

                        <!-- Table results -->
                        <div class="adv-table">
                            <table id="table-info-users" class="responsive display table">
                                <thead>
                                    <tr>
                                    <th class='not-desktop'></th>
                                    <th class='desktop'>#</th>
                                    <th class="all"><i class="fas fa-hand-point-right"></i> Nom</th>
                                    <th class="all"><i class="fas fa-user-tag"></i> Rôle</th>
                                    <th class='min-tablet'><i class="fas fa-envelope"></i> Email</th>
                                    <th class='min-tablet'><i class="fas fa-calendar"></i> Date de création</th>
                                    <th class='min-tablet'><i class="fas fa-unlock"></i> Statut</th>
                                    <th class='desktop'></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td class='not-desktop'></td>
                                            <td class='desktop'>{{ user.userid }}</td>
                                            <td class="all"><a href="{{ constant('SERVER_BASE')}}admin/config/users/{{ user.userid }}/edit">{{ user.fullname }}</a></td>
                                            <td class="all">{{ user.rolename | capitalize }}</td>
                                            <td class='desktop'><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                            <td class='min-tablet'>{{ user.dateCreate | localizeddate('short', 'none', locale,null,'dd/MM/yyyy HH:mm:ss') }}</td>
                                            <td class='min-tablet'>
                                                {% if user.active %}
                                                    <span class="badge badge-info"><i class="fas fa-check-circle"></i> Actif</span>
                                                {% else %}
                                                    <span class="badge badge-warning"><i class="fas fa-times-circle"></i> Inactif</span>
                                                {% endif %}
                                            </td>
                                            <td class='desktop'>
                                                <a href="{{ constant('SERVER_BASE') }}admin/config/users/{{ user.userid }}/edit" role="button" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                                {% if role is same as (constant('ID_ADMIN')) %}
                                                    <button
                                                        type="button"
                                                        class="btn btn-warning btn-sm openModal desUserBtn"
                                                        title="{% if user.active %}Désactiver{% else %}Activer{% endif %} cet utilisateur"
                                                        data-toggle='modal'
                                                        data-target='#statusUserModal'
                                                        data-id='{{ user.userid }}'
                                                        data-status='{% if user.active %}1{% else %}0{% endif %}'
                                                    >
                                                        <i class="fas fa-exchange-alt"></i>
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- Modal -->
    <div class="modal" id="statusUserModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="status-user" class="form-user" method="POST" role="form">
                    <input id="idUser" name="idUser" type="hidden" value="" aria-hidden="true">
                    <div class="modal-body">
                        <p class="info"> Etes vous sur de vouloir <span id="txtStatus"></span> cet utilisateur ? </p>
                        <p class="result-message result-modal-message"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="confirm-status" class="btn btn-theme confirm">Confirmer</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.js"></script> <!-- DATATABLES -->
    <script src="{{ constant('ASSETS_PATH') }}js/admin/lists-scripts.js"></script> <!-- SPECIFIC SCRIPTS -->
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/date-euro.js"></script> <!-- ORDER DATE FORMAR -->
    <script >

        $(document).ready(function()
        {
            //Initialse DataTables
            dataTablesInit("table-info-users");
            initUsersTable();

            //Popin change users status
            $(".desUserBtn").click(function() {
                hydratePopinStatusUser($(this));
            });

            //Change users status
            $("#confirm-status").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                changeStatusUser($("#status-user"));
                return false;
            });

            //reset modal users status on close
            $("#statusUserModal").on("hidden.bs.modal", function() {
                $("#statusUserModal .modal-content .modal-body .info").show();
                $("#statusUserModal .modal-content .modal-footer .confirm").show();
                $("#statusUserModal .modal-content .modal-body .result-message").empty().hide();
            });

            {% if message|length %}
                $('#resultAction').modal('show');
            {% endif %}

        })
    </script>

{% endblock %}