{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.css" />
{% endblock %}

{% block main %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fas fa-pencil-alt"></i> {{ title }}</h3>
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="content-panel">
                    <h4 class="mb-3"><i class="fas fa-tags"></i> {{ subTitle }}</h4>
                    <a href="{{ constant('SERVER_BASE') }}admin/blog/tags/add" class="btn btn-theme">Ajouter un tag</a>
                    <hr>

                    <!-- Table results -->
                    <div class="adv-table">
                        <table id="table-info-tags" class="responsive display table">
                            <thead>
                            <tr>
                                <th class='not-desktop'></th>
                                <th class='desktop'>#</th>
                                <th class="all"><i class="fas fa-book"></i> Libelle</th>
                                <th class="min-tablet"><i class="fas fa-male"></i> Auteur</th>
                                <th class="min-tablet"><i class="fas fa-calendar"></i> Date d'ajout</th>
                                <th class='desktop'></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for tag in tags %}
                                    <tr>
                                        <td class='not-desktop'></td>
                                        <td class='desktop'>{{ tag.tagId }}</td>
                                        <td class="all"><a href="{{ constant('SERVER_BASE') }}admin/blog/tags/{{ tag.tagId }}/edit">{{ tag.name|title }}</a></td>
                                        <td class="min-tablet"><a href="{{ constant('SERVER_BASE')}}admin/config/users/{{ tag.user.userid }}/edit">{{ tag.user.fullname }}</a></td>
                                        <td class="min-tablet">{{ tag.dateCreate | localizeddate('short', 'none', locale,null,'dd/MM/yyyy HH:mm:ss') }}</td>
                                        <td class='desktop'>
                                            <a href="{{ constant('SERVER_BASE') }}admin/blog/tags/{{ tag.tagId }}/edit" role="button" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                            {% if role is same as (constant('ID_ADMIN')) %}
                                                <button type="button" class="btn btn-danger btn-sm openModal delTagBtn" data-toggle='modal' data-target='#delTagModal' data-id='{{ tag.tagId }}'><i class="fas fa-trash"></i></button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- End table results -->
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Modals -->
<div class="modal centerModal" id="delTagModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression d'un tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="del-tag" name="del-tag" class="form" action="{{ constant('SERVER_BASE') }}admin/blog/tags/delete" method="POST" role="form">
                    <input id="idTag" name="idTag" type="hidden" value="" aria-hidden="true">
                    <div class="modal-body">
                        <p class="info"> Etes vous sur de vouloir supprimer ce tag ? <br />
                            Cette action est irréversible.</p>
                        <p class="result-message alert"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="confirm-del-tag" class="btn btn-theme confirm">Confirmer</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.js"></script> <!-- DATATABLES -->
    <script src="{{ constant('ASSETS_PATH') }}js/admin/lists-scripts.js"></script> <!-- SPECIFIC SCRIPTS -->
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/date-euro.js"></script> <!-- ORDER DATE FORMAR -->
    <script >
        $(document).ready(function() {

            //tags list
            dataTablesInit("table-info-tags");
            initTagsTable();

            //Popin change users status
            $(".delTagBtn").click(function () {
                hydratePopin($(this),'del-tag','idTag');
            });

            //Change users status
            $("#confirm-del-tag").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                updateElement($("#del-tag"));
                return false;
            });
        });
    </script>
{% endblock %}