{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.css" /> <!-- DATATABLES -->
{% endblock %}

{% block main %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fas fa-pencil-alt"></i> {{ title }}</h3>
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="content-panel">
                    <h4 class="mb-3"><i class="fas fa-stream"></i> {{ subTitle }}</h4>
                    {% if role is same as (constant('ID_ADMIN')) %}
                        <a href="{{ constant('SERVER_BASE') }}admin/blog/cat/add" class="btn btn-theme">Ajouter une catégorie</a>
                    {% endif %}
                    <hr>

                    <!-- Table results -->
                    <div class="adv-table">
                        <table class="responsive display table" id="table-info-cats">
                            <thead>
                                <tr>
                                    <th class='not-desktop'></th>
                                    <th class='desktop' data-orderable="false" data-searchable="false">#</th>
                                    <th class="all" data-orderable="false" ><i class="fas fa-book"></i> Nom</th>
                                    <th class="all"><i class="fas fa-recycle"></i> Catégorie Parente</th>
                                    <th class='min-tablet' data-orderable="true"><i class="fas fa-male"></i> Nombre d'articles</th>
                                    <th class='min-tablet' data-orderable="false"><i class="fas fa-male"></i> Auteur</th>
                                    <th class='min-tablet' data-orderable="true"><i class="fas fa-calendar"></i> Date de création</th>
                                    <th class='min-tablet' data-orderable="false" data-searchable="false"><i class="fas fa-bullhorn"></i> Statut</th>
                                    <th class="desktop" data-orderable="false" data-searchable="false"></th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for cat in categories %}
                                <tr>
                                    <td class='not-desktop'></td>
                                    <td class='desktop'>{{ cat.categoryId }}</td>
                                    <td class="all">
                                        {{ cat.name|capitalize }}
                                    </td>
                                    <td class="min-tablet">
                                        {% for catParente in categories %}
                                            {% if catParente.categoryId == cat.categoryIdParent %}
                                                {{ catParente.name|capitalize }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="all">
                                        {% if postsCounter[cat.categoryId].count > 0%}
                                            {{ postsCounter[cat.categoryId].count }}
                                        {% endif %}
                                    </td>
                                    <td class='min-tablet'>{{ cat.user.fullname }}</td>
                                    <td class='min-tablet'>{{ cat.dateCreate | localizeddate('short', 'none', locale,null,'dd/MM/yyyy') }}</td>
                                    <td class='min-tablet'>
                                        {% if cat.isActive %}
                                            <span class="badge badge-success"><i class="fas fa-check-circle"> </i> Active</span>
                                        {% else %}
                                            <span class="badge badge-warning"><i class="fas fa-times-circle"> </i> Inactive</span>
                                        {% endif %}
                                        <br>
                                        {% if cat.isPrivate %}
                                            <span class="badge badge-dark"><i class="fas fa-check-circle"></i> Privée</span>
                                        {% endif %}
                                    </td>
                                    <td class="desktop">
                                        <a href="{{ constant('SERVER_BASE') }}admin/blog/cat/{{ cat.categoryid }}/edit" role="button" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                        {% if role is same as (constant('ID_ADMIN')) %}
                                            <button type="button" class="btn btn-danger btn-sm openModal delCatBtn" data-toggle='modal' data-target='#delCatModal' data-id='{{ cat.categoryId }}'><i class="fas fa-trash"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- End table results -->
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Modals -->
<div class="modal centerModal" id="delCatModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression d'une catégorie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="del-cat" class="form-user" action="{{ constant('SERVER_BASE') }}admin/blog/cat/delete" method="POST" role="form">
                    <input id="idCat" name="idCat" type="hidden" value="" aria-hidden="true">
                    <div class="modal-body">
                        <p class="info"> Etes vous sur de vouloir supprimer cette catégorie ? <br />
                            Cette action est irréversible.</p>
                        <p class="result-message alert"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="confirm-status" class="btn btn-theme confirm">Confirmer</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.js"></script> <!-- DATATABLES -->
    <script src="{{ constant('ASSETS_PATH') }}js/admin/lists-scripts.js"></script> <!-- SPECIFIC SCRIPTS -->
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/date-euro.js"></script> <!-- ORDER DATE FORMAR -->
    <script >
        $(document).ready(function() {

            // Categories list
            dataTablesInit("table-info-cats");
            initCatsTable();


            // Hydrate for delete Category
            $(".delCatBtn").click(function () {
                hydratePopin($(this),'del-cat','idCat');
            });

            // Delete Category
            $("#confirm-status").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                updateElement($("#del-cat"));
                return false;
            });

        });
   </script>

{% endblock %}