{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.css" />
{% endblock %}

{% block main %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fas fa-comments"></i> {{ title }}</h3>
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="content-panel">
                    <h4><i class="far fa-comment-dots"></i> {{ subTitle }}</h4>
                    <hr>
                    <div class="adv-table">
                        <table id="table-info-comments" class="responsive display table table-striped">
                            <thead>
                            <tr>
                                <th class='not-desktop'></th>
                                <th class='desktop'>#</th>
                                <th class="desktop"><i class="fa fa-book"></i> Auteur</th>
                                <th class="desktop"><i class="fa fa-video-camera"></i> Article</th>
                                <th class="all"><i class="fa fa-calendar"></i> Titre / Text</th>
                                <th class="min-tablet"><i class="fa fa-calendar"></i> Date d'ajout</th>
                                <th class="all"><i class="fa fa-bullhorn"></i> Statut</th>
                                <th class='desktop'></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td class='not-desktop'></td>
                                    <td class='desktop'>{{ comment.commentid }}</td>
                                    <td class="desktop"><a href="{{ constant('SERVER_BASE')}}admin/config/users/{{ comment.user.userid }}/edit">{{ comment.user.fullname }}</a></td>
                                    <td class="desktop"><a href="{{ constant('SERVER_BASE')}}admin/blog/posts/{{ comment.post.postid }}/edit">{{ comment.post.title }}</a></td>
                                    <td class="all">
                                        <b>{{ comment.commentTitle }}</b><br>
                                        {{ comment.commentText|truncate(120, true) }}
                                    </td>
                                    <td class="min-tablet">{{ comment.dateCreate | localizeddate('short', 'none', locale,null,'dd/MM/yyyy HH:mm:ss') }}</td>
                                    <td class="all">
                                        {% if comment.status.statusId == 1 %}
                                            {% set badge = "badge-warning" %}
                                            {% set icon = "fas fa-times-circle" %}
                                        {% elseif comment.status.statusId == 2 %}
                                            {% set badge = "badge-info" %}
                                            {% set icon = "fas fa-check-circle" %}
                                        {% elseif comment.status.statusId == 3 %}
                                            {% set badge = "badge-secondary" %}
                                            {% set icon = "fas fa-times-circle" %}
                                        {% endif %}
                                        <span class="badge {{ badge }}"><i class=" {{ icon }}"></i> {{ comment.status.name }}</span>
                                    </td>
                                    <td class='desktop'>
                                        <button class='btn btn-primary btn-sm' data-toggle='modal' data-target='#editComment' data-id='{{ comment.commentId }}'>
                                            {% if role == (constant('ID_ADMIN')) %}
                                                <i class="fas fa-edit"></i>
                                            {%  else %}
                                                <i class="fas fa-eye"></i>
                                            {% endif %}
                                        </button>
                                        {% if role == (constant('ID_ADMIN')) %}
                                            <button type="button" class="btn btn-danger btn-sm openModal delComBtn" data-toggle='modal' data-target='#delComModal' data-id='{{ comment.commentId }}'><i class="fas fa-trash"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

    <!-- Modal -->
    <div class="modal" id="delComModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression de commentaires</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="del-comment" class="form-comment" action="{{ constant('SERVER_BASE') }}admin/comments/delete" method="POST" role="form" novalidate>
                    <input id="idComment" name="idComment" type="hidden" value="" aria-hidden="true">
                    <div class="modal-body">
                        <p class="result-message alert"></p>
                        <p class="info"> Etes vous sur de vouloir supprimer ce commentaire ? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="confirm-status" class="btn btn-theme confirm">Confirmer</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit and moderate comment -->
    {% include "admin/blocs/modal-edit-comment.html.twig" %}

{% endblock %}

{% block js %}
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}js/admin/lists-scripts.js"></script> <!-- SPECIFIC SCRIPTS -->
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/date-euro.js"></script> <!-- ORDER DATE FORMAR -->

    <script >
        $(document).ready(function() {

            dataTablesInit("table-info-comments");
            initCommentsTable();

            $('#editComment').on('show.bs.modal', function (e) {
                hydratePopinComment($(e.relatedTarget).data('id'));
            });

            $("#submitComment").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                updateComment($("#status-comment"),'ad');
                return false;
            });
            $(".delComBtn").click(function () {
                $("#delComModal").find("#idComment").val($(this).data('id'));
                $(".modal-footer .confirm").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    deleteComment($("#del-comment"));
                    return false;
                });
            });
        });
    </script>

{% endblock %}