{% extends "admin/base-admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.css" />
{% endblock %}

{% block main %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fas fa-pencil-alt"></i> {{ title }}</h3>
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="content-panel">
                    <h4 class="mb-3"><i class="fas fa-feather"></i> {{ subTitle }}</h4>
                    <a href="{{ constant('SERVER_BASE') }}admin/blog/posts/add" class="btn btn-theme">Ajouter un article</a>
                    <hr>

                    {% if role == constant('ID_ADMIN') %}
                        <div class="col-12 p-0 button-checkbox">
                            <button type="button" class="btn" data-color-on="info" data-color-off="light">Masquer les articles des catégories privées</button>
                            <input type="checkbox" class="hidden form-check-input" id="hidePrivete" checked="checked" />
                        </div>
                    {% endif %}

                    <!-- Table results -->
                    <div class="adv-table">
                        <table class="responsive table table-striped" id="table-info-posts">
                            <thead>
                            <tr>
                                <th class='not-desktop'></th>
                                <th class='desktop'>#</th>
                                <th class='desktop'><i class="fas fa-eye"></i> Vues</th>
                                <th class='all'><i class="fas fa-book"></i> Titre</th>
                                <th class='all'><i class="fas fa-site"></i> Catégorie</th>
                                <th class='min-tablet'><i class="fas fa-male"></i> Auteur</th>
                                <th class='min-tablet'><i class="fas fa-calendar"></i> Date de publication</th>
                                <th class='desktop'><i class="fas fa-bullhorn"></i> Statut</th>
                                <th class='desktop'></th>
                                <th class='desktop'></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td class='not-desktop'></td>
                                    <td class='desktop'>{{ post.postid }}</td>
                                    {% if post.count > 0 %}
                                        {% set count = (post.count > 9999) ? (post.count / 1000)|round ~ " M" : post.count %}
                                    {% endif %}
                                    <td class='desktop' title="{{ post.count|number_format(0, '.', ' ') }} vues">{{ count }}</td>
                                    <td class='all'><a href="{{ constant('SERVER_BASE') }}admin/blog/posts/{{ post.postid }}/edit">{{ post.title }}</a></td>
                                    <td class='all'>
                                        {% for category in post.categories %}
                                            {{ category.name }}
                                            {% if not loop.last %}<br /> {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class='min-tablet'><a href="{{ constant('SERVER_BASE')}}admin/config/users/{{ post.user.userid }}/edit">{{ post.user.fullname }}</a></td>
                                    <td class='min-tablet'>{{ post.dateCreate | localizeddate('short', 'none', locale,null,'dd/MM/yyyy HH:mm:ss') }}</td>
                                    <td class='all'>
                                        {% if post.active %}
                                            <span class="badge badge-success"><i class="fas fa-check-circle"></i> En ligne </span>
                                        {% else %}
                                            <span class="badge badge-warning"><i class="fas fa-times-circle"></i> Hors ligne </span>
                                        {% endif %}
                                        {% if post.IsHighlighted %}
                                            <br />
                                            <span class="badge badge-info"><i class="fas fa-highlighter"></i> A la une </span>
                                        {% endif %}
                                    </td>

                                    <td class='desktop'>
                                        <a href="{{ constant('SERVER_BASE') }}admin/blog/posts/{{ post.postid }}/edit" role="button" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                        {% if role is same as (constant('ID_ADMIN')) %}
                                            <button type="button" class="btn btn-danger btn-sm openModal delPostBtn" data-toggle='modal' data-target='#delPostModal' data-id='{{ post.postid }}'>
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set isPrivate = 0 %}
                                        {% for category in post.categories %}
                                            {% if category.isPrivate and isPrivate != 1 %}
                                                {% set isPrivate = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {{ isPrivate }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- End table results -->
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Modal -->
    <div class="modal" id="delPostModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression d'un article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="del-post" class="form-user" action="{{ constant('SERVER_BASE') }}admin/blog/posts/delete" method="POST" role="form">
                        <input id="idPost" name="idPost" type="hidden" value="" aria-hidden="true">
                        <div class="modal-body">
                            <p class="info"> Etes vous sur de vouloir supprimer cet article ? <br />
                                Cette action est irréversible.</p>
                            <p class="result-message alert"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="confirm-del-post" class="btn btn-theme confirm">Confirmer</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/datatables.js"></script>
    <script src="{{ constant('ASSETS_PATH') }}js/admin/lists-scripts.js"></script> <!-- SPECIFIC SCRIPTS -->
    <script src="{{ constant('ASSETS_PATH') }}lib/datatables/date-euro.js"></script> <!-- ORDER DATE FORMAR -->
    <script >
        $(document).ready(function() {

            //Posts list
            dataTablesInit("table-info-posts");
            var oTablePosts = initPostsTable();

            // Hydrate modal for delete Post
            $(".delPostBtn").click(function () {
                hydratePopin($(this),'del-post','idPost');
            });

            // Delete Post
            $("#confirm-del-post").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                updateElement($("#del-post"));
                return false;
            });

            //Hide posts of private categories
            if($('#hidePrivete').is(":checked")) {
                oTablePosts.column(9).search(0).draw();
            }
            $('#hidePrivete').change(function () {
                if (this.checked) {
                    oTablePosts.column(9).search(0).draw();
                } else {
                    oTablePosts.column(9).search('').draw();
                }
            });
        });

        stylizeCheckbox();

    </script>
{% endblock %}