{% extends "admin/base-admin.html.twig" %}

{% block header %}{% endblock %}
{% block nav %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3 p404 text-center">
            <img src="{{ constant('ASSETS_PATH') }}img/404.png" alt="Illustration page 404">
            <h1>PAS DE PANIQUE !!</h1>
            <h3>La page que vous cherchez n'existe pas.</h3>
            <hr>
            <h5 class="mt-3">Mais peut-être seriez vous intéressé par ces pages :</h5>
            <p><a href="{{ constant('SERVER_BASE') }}blog">Blog</a> | <a href="{{ constant('SERVER_BASE') }}#contact"> Contact</a> | <a href="{{ constant('SERVER_BASE') }}admin">Administration</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 errorPage">

            {% if constant('MODE_DEV') %}
                <div>
                    <div class="col-xl-6 offset-xl-3 col-md-12 col-12 debug-block">
                        <hr />
                        <h4><u>Détail</u></h4>
                        <p>Erreur {{ code }} : {{ message }}</p>
                    </div>

                    {% if trace is not null %}
                        <div class="col-xl-10 offset-xl-1 col-md-12 col-12">
                            <hr />
                        </div>

                        <div class="col-xl-10 offset-xl-1 col-lg-12 col-md-12 col-12 debug-block">
                            <h4><u>Traceur</u></h4>
                            <p><pre>{{ trace }}</pre></p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}