{% extends "admin/base-admin.html.twig" %}

{% block header %}{% endblock %}
{% block nav %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 p404 text-center">
            <img src="{{ constant('ASSETS_PATH') }}img/500.png" alt="Illustration page erreur 500">
            <h1>{{ title }}</h1>
            <h3>Oups ! Quelque chose s'est mal passé !</h3>

            {% if message|length %}
                <h5 class="mt-3">{{ message }}</h5>
            {% endif %}

            <h6 class="mt-5">Peut-être seriez vous intéressé par ces pages :</h6>
            <p><a href="{{ constant('SERVER_BASE') }}blog">Blog</a> | <a href="{{ constant('SERVER_BASE') }}#contact"> Contact</a> | <a href="{{ constant('SERVER_BASE') }}admin">Administration</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 errorPage">
            {% if constant('MODE_DEV') %}
                <div>
                    <div class="col-xl-6 offset-xl-3 col-md-12 col-12 debug-block">
                        <hr />
                        <h4><u>Détail</u></h4>
                        <p>
                            <strong>Message</strong> : {{ message }}<br />
                            {% if type|length %}
                                <strong>Type</strong> : {{ type }}<br />
                            {% endif %}

                            {% if addInfos|length %}
                                <strong>Infos additionnelles</strong> : {{ addInfos }}
                            {% endif %}
                        </p>
                    </div>

                    {% if trace is not null %}
                        <div class="col-xl-10 offset-xl-1 col-md-12 col-12">
                            <hr />
                        </div>

                        <div class="col-xl-10 offset-xl-1 col-lg-12 col-md-12 col-12 debug-block">
                            <h4><u>Traceur</u></h4>
                            <p><pre>{{ trace }}</pre></p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}