{% extends "front/base-front.html.twig" %}

{% block stylesheet %}
    <link href="{{ constant('ASSETS_PATH') }}css/front/home-style.css" rel="stylesheet">
{% endblock %}

{% block title %}aBBlog - Accueil{% endblock %}

{% block nav %}
    {% include "front/blocs/general-navbar.html.twig" %}
{% endblock %}

{% block main %}

    <!-- Header -->
    {% include "front/blocs/home/identity.html.twig" %}

    <!-- About me -->
    {% include "front/blocs/home/about-me.html.twig" %}

    <!-- Blog preview -->
    {% include "front/blocs/home/blog-preview.html.twig" %}

    <!-- Contact -->
    {% include "front/blocs/home/contact.html.twig" %}

{% endblock %}

{% block js %}
    <script  src="{{ constant('ASSETS_PATH') }}lib/typed/typed.js"></script>
    <script  src="{{ constant('ASSETS_PATH') }}lib/owlcarousel/owl.carousel.min.js"></script>
    <script >

        $(document).ready(function() {
            initTypeJS();
            initCarousel();
            initNavbar();
            msgSuccess("Merci pour votre message. Il sera traité dans les plus brefs délais.");

            // Send contact message
            $("#send-message").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                sendMessageContact($("#contactForm"));
                return false;
            });
        });

    </script>
{% endblock %}