{% extends "admin/base-admin.html.twig" %}

{% block header %}{% endblock %}
{% block nav %}{% endblock %}

{% block main %}
    <section id="container-login">
        <div id="login-page">
            <form class="form-login" id="form-reset-pass" action="{{ constant('SERVER_BASE') }}savePassword" method="post" role="form">
                <input type="hidden" name="token" id="token" value="{{ token }}" aria-hidden="true">
                <input type="hidden" name="org" id="org" value="{% if role is same as (constant('ID_ADMIN')) %}admin{% else %}front{% endif %}" aria-hidden="true">
                <div class="form-login-heading">
                    <img src="{{ constant('ASSETS_PATH') }}img/logo_150.png" alt="aBBlog Logo">
                    <h2>Renouvellement du mot de passe</h2>
                </div>
                <div class="login-wrap">
                    <p class="result-message alert"></p>
                    <input type="text" id="email"  name="email" class="form-control" placeholder="Email" autofocus><br>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Nouveau mot de passe"><br>
                    <input type="password" id="password-confirm" name="password-confirm" class="form-control" placeholder="Confirmer le mot de passe"><br>
                    <button class="btn btn-theme btn-block" id="form-reinit-pass-btn" type="button"><i class="fas fa-share-square"></i> Envoyer</button>
                    <hr>
                    <div class="registration">
                        {% if role is same as (constant('ID_ADMIN')) %}
                            <a href="{{ constant('SERVER_BASE') }}admin">Retour à l'interface de connexion</a>
                        {% else %}
                            <a href="{{ constant('SERVER_BASE') }}">Retour au site</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block js %}
<script  src="{{ constant('ASSETS_PATH') }}lib/jquery.backstretch.min.js"></script>
{% endblock %}