{% if footer %}
    <footer class="site-footer">
        <div class="logo-footer">
            <img src="{{ constant('ASSETS_PATH') }}img/admin/name_trsp_100.png" alt="logo aBBlog format court">
        </div>
        <div class="credits">
            &copy; Copyright <strong>AB</strong> 2019. Tous droits réservés
        </div>
        <div class="go-top-arrow">
            <a href="javascript:void(0);" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
</footer>
{% endif %}