<header class="header black-bg d-flex flex-row justify-content-between align-content-center p-2">

    <!-- Navigation -->
    <div>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-toggle="collapse" data-target="#sidebar" role="navigation"></div>
        </div>
        <!-- Logo -->
        <a href="#" class="logo"><b>AD<span>MIN</span></b></a>
    </div>

    <div class="logo-admin">
        <a href="{{ constant('SERVER_BASE') }}" target="_blank">
            <img src="{{ constant('ASSETS_PATH') }}img/logo_transparent_white_100.png" alt="abBlog Logo" title="aBBlog Logo">
        </a>
    </div>

    <!-- Logout -->
    <div class="ctn-log">
        <ul class="nav">
            <li><a class="logout" href="{{ constant('SERVER_BASE') }}admin/logout?org={% if 'admin' in sUrl %}admin{% else %}front{% endif %}">Déconnexion</a></li>
        </ul>
    </div>
</header>