<div role="dialog" tabindex="-1" id="forgot-pass" class="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mot de passe oublié ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="form-password" class="form form-password" action="{{ constant('SERVER_BASE') }}forgotpassword" method="post">
                <input type="hidden" id="org" name="org" value="" aria-hidden="true">
                <div class="modal-body">
                    <p class="result-modal-message alert"></p>
                    <div class="main-content">
                        <p>Entrez l'adresse adresse email associée au compte</p>
                        <input type="text" name="email-reset" id="email-reset" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-theme" id="request-reinit-pass-btn" type="button">Valider</button>
                    <button data-dismiss="modal" class="btn btn-danger" type="button">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End modal -->