<div class="modal" id="editComment" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="status-comment" class="form-comment" method="POST" role="form" novalidate>
                    <input id="commentId" name="commentId" type="hidden" value="" aria-hidden="true">
                    <input id="postId" name="postId" type="hidden" value="" aria-hidden="true">
                    <input id="org" name="org" type="hidden" value="admin" aria-hidden="true">
                    <p class="result-message alert"></p>
                    <div class="col-md-12 pl-0 mt-2">
                        Par <a id="link-user-comment" href="{{ constant('SERVER_BASE')}}admin/config/users/"><span id="userFullname"></span><br /></a>
                        Le <span id="commentDate"></span>
                    </div>
                    <div class="form-group row mt-2">
                        <div class="col-sm-6">
                            <label class="control-label col-form-label" for="pseudo">Pseudo *</label>
                            <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Pseudo" {% if role != (constant('ID_ADMIN')) %}disabled readonly{% endif %}>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label col-form-label" for="statusComment">Statut *</label>
                            <select name="statusComment" id ="statusComment" class="form-control" {% if role != (constant('ID_ADMIN')) %}disabled readonly{% endif %}></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="control-label col-form-label" for="title">Titre *</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Titre" {% if role != (constant('ID_ADMIN')) %}disabled readonly{% endif %}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="control-label col-form-label" for="usercomment">Commentaire *</label>
                            <textarea name="usercomment" id="usercomment" class="form-control" maxlength="450" {% if role != (constant('ID_ADMIN')) %}disabled readonly{% endif %}></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        {% if role == (constant('ID_ADMIN')) %}
                            <button type="button" id="submitComment" class="btn btn-theme">Enregistrer</button>
                        {% endif %}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>