<aside id="admin-aside" role="complementary">
    <div class="identity-user">
        <a href="{{ constant('SERVER_BASE') }}admin/config/users/{{ currentUserId }}/edit" title="Modifier mon profil">
            <p class="text-center">
                <img src="{{ constant('UPLOADS_PATH') }}images/admin/profile/v_{{ image }}" alt="Image de profil" class="rounded-circle" width="80">
            </p>
            <h5 class="text-center">{{ fullname }}</h5>
        </a>
    </div>
    <nav id="sidebar" class="collapse" role="navigation">
        <ul class="sidebar-menu" id="nav-accordion">

            <li class="mt-3">
                <a class="{% if 'admin/dashboard' in sUrl %} active {% endif %}" href="{{ constant('SERVER_BASE') }}admin/dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="{% if 'admin/blog' in sUrl %} active {% endif %}" href="javascript:void(0);">
                    <i class="fas fa-pencil-alt"></i>
                    <span>Editorial</span>
                </a>
                <ul class="sub">
                    <li class="{% if 'posts/add' in sUrl %} active {% endif %}"><a  href="{{ constant('SERVER_BASE') }}admin/blog/posts/add">Ajouter un article</a></li>
                    <li class="{% if 'posts' in sUrl and 'add' not in sUrl %} active {% endif %}"><a  href="{{ constant('SERVER_BASE') }}admin/blog/posts">Liste des articles</a></li>
                    <li class="{% if 'cat' in sUrl %} active {% endif %}"><a href="{{ constant('SERVER_BASE') }}admin/blog/cat">Catégories</a></li>
                    <li class="{% if 'tags' in sUrl %} active {% endif %}"><a href="{{ constant('SERVER_BASE') }}admin/blog/tags">Tags</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="{% if 'admin/comments' in sUrl %} active {% endif %}" href="{{ constant('SERVER_BASE') }}admin/comments">
                    <i class="fas fa-comments"></i>
                    <span>Commentaires</span>
                </a>
                <ul class="sub">
                    <li class="{% if 'admin/comments' in sUrl %} active {% endif %}"><a href="{{ constant('SERVER_BASE') }}admin/comments">Liste des commentaires</a></li>
                    <!--<li class="{% if 'posts' in sUrl %} active {% endif %}"><a href="{{ constant('SERVER_BASE') }}admin/comments/1/edit">Edit commentaires 1</a></li>-->
                </ul>
            </li>
            {% if role is same as (constant('ID_ADMIN')) %}
                <li>
                    <a class="{% if 'admin/resume' in sUrl %} active {% endif %}" href="{{ constant('SERVER_BASE') }}admin/resume">
                        <i class="fas fa-briefcase"></i>
                        <span>Gestion du CV</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a class="{% if 'admin/config' in sUrl %} active {% endif %}" href="javascript:void(0);">
                        <i class="fas fa-cogs"></i>
                        <span>Administration</span>
                    </a>
                    <ul class="sub">
                        <li class="{% if 'users/add' in sUrl %} active {% endif %}"><a href="{{ constant('SERVER_BASE') }}admin/config/users/add">Ajouter un utilisateur</a></li>
                        <li class="{% if 'users' in sUrl and 'add' not in sUrl %} active {% endif %}"><a href="{{ constant('SERVER_BASE') }}admin/config/users">Liste des utilisateurs</a></li>
                    </ul>
                </li>
            {% endif %}
            <li>
                <a href="{{ constant('SERVER_BASE') }}" target="_blank">
                    <i class="fas fa-desktop"></i>
                    <span>Allez sur le site</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>