<h1>Compétences</h1>
<div class="row justify-content-center no-gutters">
    <div class="col-md-8 col-12">
        <blockquote class="blockquote">
            &laquo; Savoir est peu de choses, l’essentiel est de savoir en tirer parti. &raquo; <cite>-&nbsp;Montaigne</cite>
        </blockquote>
    </div>
</div>

{% for key,item in resume._section.abilities %}
<hr />
<h3>{{ key }}</h3>
<div class="row">
    <div class="col-md-6">
        <ul class="no-bullets">
            {% for skill in item %}
                 <li>
                    <span class="ability-title">
                        {{ skill['title'] }}
                        {% if skill['endorsement']|length %}
                            <span class="hidden-phone">({{ skill['endorsement'] }})</span>
                        {% endif %}
                    </span>
                    <span class="ability-score">

                        {% for i in 1..5 %}
                            <i class="{% if skill['level'] >= loop.index %}fas{% else %}far{% endif %} fa-star"></i>
                        {% endfor %}

                    </span>
                </li>
                {% if loop.index == (loop.length / 2)|round %}
        </ul>
    </div>

    <div class="col-md-6">
        <ul class="no-bullets">
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endfor %}
