<h1>Experiences</h1>
<div class="row justify-content-center">
    <div class="col-md-8 col-12">
        <blockquote class="blockquote">
            &laquo; La connaissance s'acquiert par l'expérience, tout le reste n'est que de l'information. &raquo; <cite>-&nbsp;Einstein</cite>
        </blockquote>
    </div>
</div>


{% for key,item in resume._section.experiences %}
    <hr />
    <h3>{{ key }}</h3>
    <div class="experiences">
        {% for education in item %}
            <div class="experience row">
                <div class="col-md-4">
                    <h4 class="text-break">
                        {{ education['title'] }}
                        {% if education['link']|length %}
                            <a href="{{ education['link'] }}" target="_blank" title="Visiter le site">
                                <i class="fas fa-external-link-square-alt"></i>
                            </a>
                        {% endif %}
                    </h4>
                    <p>
                            {{ education['start_date'] | localizeddate('none', 'none', null, null, 'MMM Y') | capitalize }}
                            {%  if education['end_date'] is not null %}
                                - {{ education['end_date'] | localizeddate('none', 'none', null, null, 'MMM Y') | capitalize }}
                            {% else %}
                                - Aujourd'hui
                            {% endif %}
                    </p>
                </div>
                <div class="col-md-8">
                    <h4 class="specification">
                        {{ education['specification'] }}
                    </h4>
                    {%  if education['level']|length %}
                        <h6>{{ education['level'] }}</h6>
                    {% endif %}
                    <p>
                        <span class="hidden-phone">
                            {{ education['description']|replace({'--': '<br />'})}}
                        </span>
                        <span class="experience-details">
                             {%  if education['location']|length %}
                                 {% if education['link-geo']|length %}
                                     {% if education['link-geo'] == 'geoloc' %}
                                        <a href="http://www.google.com/maps/search/?api=1&query={{ education['location']|url_encode }}" target="_blank" title="Visiter le site">
                                     {% else %}
                                         <a href="{{ education['link-geo'] }}" target="_blank" title="Ouvrir le lien">
                                     {% endif %}
                                 {% endif %}
                                     <span class="location">
                                        <i class="{{ education['icon'] }}"></i> {{ education['location'] }}
                                    </span>
                                 {% if education['link-geo']|length %}
                                    </a>
                                 {% endif %}
                             {% endif %}
                        </span>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}