<h1>Centres d'interêts</h1>
<div class="row justify-content-center">
    <div class="col-md-8 col-12">
        <blockquote class="blockquote">
            &laquo; Les passions sont les humeurs élémentaires de l'esprit. &raquo; <cite>-&nbsp;Baltasar Gracian y Morales</cite>
        </blockquote>
    </div>
</div>
<hr />

{% for interest in resume._section.interests %}
<div class="row {% if loop.index is divisible by(2) %} flex-row-reverse{% endif %}">
    <div class="col-md-3{% if loop.index is divisible by(2) %} right {% else %} left{% endif %}">
        <img src="{{ constant('ASSETS_PATH') }}img/front/interests/{{ interest['image'] }}" alt="{{ interest['title'] }}" />
    </div>
    <div class="col-md-9 interest-content">
        <h3>{{ interest['title'] }}</h3>
        <p>
            {{ interest['description'] }}
        </p>
    </div>
</div>
{% endfor %}
