<h1>Profil</h1>
<p class="lead">Web Développeuse</p>

<hr />

<div class="row">
    <div class="col-md-4">
        <h3>A propos de moi</h3>
        <p>
            {{ resume._section.profile['biography'] }}
        </p>
    </div>
    <div class="col-md-4 text-center avatar">
        <img src="{{ constant('ASSETS_PATH')}}img/front/profil_resume.jpg" alt="Armelle Braud" width="246" height="246" />
    </div>
    <div class="col-md-4">
        <h3>Details</h3>
        <p>
            <strong>Nom :</strong><br />
            {{ resume._section.profile['full_name'] }}<br />
            <strong>Age :</strong><br />
            {{ resume._section.profile['age'] }} ans<br />
            <strong>Localisation :</strong><br />
            {{ resume._section.profile['current_location']["city"] }}, {{ resume._section.profile['current_location']["country"] }}, {{ resume._section.profile['current_location']["planet"] }}
        </p>
        <ul>
            <li class="list-inline-item"><a href="http://www.linkedin.com/in/armelle-braud" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="list-inline-item"><a href="http://www.viadeo.com/fr/profile/armelle.braud" target="_blank"><i class="fab fa-viadeo"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com/@ArmelleBraud" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://gitlab.com/armelle.braud" target="_blank"><i class="fab fa-gitlab"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/Memelo95" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
        <p class="resume-link separator mt-3">
            <a href="{{ constant('CV_PATH') ~ constant('NAMEFILE_RESUME') }}" target="_blank">
                <i class="far fa-file-pdf"></i><span>Télécharger mon CV</span>
            </a>
        </p>
    </div>
</div>