<h1>Projets</h1>
<div class="row justify-content-center">
    <div class="col-md-8 col-12 mb-0">
        <blockquote class="blockquote">
            &laquo; Mon projet préféré ? C'est le prochain. &raquo; <cite>-&nbsp;Frank Lloyd Wright</cite>
        </blockquote>
    </div>
</div>
<hr />

<div class="row">

    {% for project in resume._section.projects %}

        <div class="col-md-6 col-sm-12 col-xs-12">
            <figure class="effect">
                <img src="{{ constant('ASSETS_PATH') }}img/front/projects/{{ project['image'] }}" alt="{{ project['title'] }}" />

                <figcaption>
                    <h3>{{ project['title'] }}</h3>
                    <p>{{ project['description'] }}</p>
                    <p class="hidden-phone">
                        <strong>Tags :</strong><br />
                        {{ project['tags'] }}
                    </p>
                    <a href="{{ project['link'] }}" target="_blank">View more</a>
                    <span class="icon">
                        <i class="fas fa-external-link-square-alt"></i>
                    </span>
                </figcaption>
            </figure>
        </div>

        {% if loop.index is divisible by(2) %}
            </div>
            <div class="row">
        {% endif %}

    {% endfor %}
</div>