<section class="hero" id="remove">
   <div class="hero-header">
       <div class="full-identity">
            <h1>{{ resume._section.profile['full_name'] }}</h1>
            <p class="lead">Curriculum Vitae</p>
       </div>
       <a href="#profile" class="continue">
        <span>
            <i class="fas fa-chevron-down"></i>
        </span>
       </a>
    </div>
</section>

<nav id="resume-navbar" class="resume-navbar navbar navbar-expand-md navbar-dark bg-dark fixed-md-bottom" role="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav nav-pills  d-xl-flex flex-xl-column">
            <li class="nav-item">
                <a class="link-scroll nav-link active" href="#profile">Profil</a>
            </li>
            <li class="nav-item">
                <a class="link-scroll nav-link" href="#experiences">Experiences</a>
            </li>
            <li class="nav-item">
                <a class="link-scroll nav-link" href="#abilities">Compétences</a>
            </li>
            <li class="nav-item">
                <a class="link-scroll nav-link" href="#projects">Projets</a>
            </li>
            <li class="nav-item">
                <a class="link-scroll nav-link" href="#interests">Intérêts</a>
            </li>
            <li class="d-none">
                <a class="link-scroll nav-link" href="#remove">Remove fix</a>
            </li>
        </ul>
    </div>
</nav>
